<h2>Item Creation</h2>
<form class="form-horizontal" role="form" name="itemCreationForm">
    <div class="form-group">
        <label for="chooseType" class="col-sm-2 control-label">Type</label>
        <div class="col-sm-10">
            <select ng-model="item.type" ng-options="itemType for itemType in itemTypes" id="chooseType" required />
            </select>
        </div>
    </div>
    <div class="form-group" ng-show="item.type=='DIGITAL'">
        <label for="chooseGenre" class="col-sm-2 control-label">Genres</label>
        <div class="col-sm-10">
            <label ng-repeat="genre in genres">
                <input type="checkbox" checklist-model="item.genres" checklist-value="genre" class="chooseItem" id="chooseGenre">
                {{ genre }}
            </label>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" ng-click="itemCreationForm.$valid && saveItem()" class="btn btn-default">Next</button>
        </div>
    </div>
</form>