<table class="table table-bordered vertical-table" ng-controller="ItemEditCtrl">
    <tr ng-if="item.self">
        <td>Item Id</td>
        <td>{{ item.self.id }}</td>
    </tr>
    <tr>
        <td style="width: 200px;">Item Name *</td>
        <td><input type="text" class="form-control required" ng-model="item.name" required /></td>
    </tr>
    <!--tr>
        <td>Developer *</td>
        <td>
            <input type="text" class="form-control required" ng-model="item.developer.id" ng-change="updateDeveloper()" required />
        </td>
    </tr-->
    <tr>
        <td>Type *</td>
        <td>
            <select ng-model="item.type" ng-options="itemType for itemType in itemTypes" required />
            </select>
        </td>
    </tr>
    <tr ng-repeat="(key, value) in item.properties">
        <td>{{ metaDefinitions[key].display }}
            &nbsp;<label ng-if="metaDefinitions[key].required=='true'">*</label>
        </td>
        <td>
            <div ng-if="metaDefinitions[key].controlType=='TEXT_INPUT'">
                <input type="text" class="form-control" ng-model="item.properties[key]" ng-required="{{metaDefinitions[key].required}}">
            </div>
            <div ng-if="metaDefinitions[key].controlType=='URL_INPUT'">
                <input type="url" class="form-control" ng-model="item.properties[key]" ng-required="{{metaDefinitions[key].required}}">
            </div>
            <div ng-if="metaDefinitions[key].controlType=='MULTI_SELECT'">
                <label ng-repeat="allowedValue in metaDefinitions[key].allowedValues">
                    <input type="checkbox" checklist-model="item.properties[key]" checklist-value="allowedValue" class="chooseItem" ng-required="{{metaDefinitions[key].required}}">{{ allowedValue }}
                </label>
            </div>
            <div ng-if="metaDefinitions[key].controlType=='SINGLE_SELECT'">
                <label ng-repeat="allowedValue in metaDefinitions[key].allowedValues" ng-required="{{metaDefinitions[key].required}}">
                    <input type="radio" ng-model="item.properties[key]" value="{{allowedValue}}" class="chooseItem">{{ allowedValue }}
                </label>
            </div>
        </td>
    </tr>
</table>
