<div ng-if="item.self==undefined">
    <p style="color:red">Cannot Find Item {{ itemId }}!</p>
</div>

<div ng-hide="item.self==undefined">
<h2>Item Revision Creation</h2>

<form class="form-horizontal" role="form" name="revisionCreationForm">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">General</h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label for="inputPlatform" class="col-sm-2 control-label">Platforms</label>
                <div class="col-sm-10">
                    <label ng-repeat="platform in platforms" class="checkbox-inline">
                        <input type="checkbox" checklist-model="revision.platforms" checklist-value="platform" id="inputPlatform">
                        {{ platform }}
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label for="inputGameMode" class="col-sm-2 control-label">Game Modes</label>
                <div class="col-sm-10">
                    <label ng-repeat="gameMode in gameModes" class="checkbox-inline">
                        <input type="checkbox" checklist-model="revision.gameModes" checklist-value="gameMode" id="inputGameMode">
                        {{ gameMode }}
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label for="inputSku" class="col-sm-2 control-label">Sku</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="revision.sku" id="inputSku" placeholder="Sku" />
                </div>
            </div>
            <div class="form-group">
                <label for="inputRollupPackageName" class="col-sm-2 control-label">Rollup Package Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="revision.rollupPackageName" id="inputRollupPackageName" placeholder="Rollup Package Name"/>
                </div>
            </div>
            <div class="form-group">
                <label for="inputPackageName" class="col-sm-2 control-label">Package Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="revision.packageName" id="inputPackageName" placeholder="Package Name" />
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Locale Properties</h3>
        </div>
        <div class="panel-body">
            Add Locale:
            <select ng-model="selectedLocale" ng-change="addLocale(selectedLocale)" ng-options="locale for locale in locales">
            </select>

            <div ng-repeat="(locale, properties) in revision.locales">
                <hr>
                <div class="form-group">
                    <label class="col-sm-2 control-label"></label>
                    <div>
                        Locale <label>{{ locale }}</label>&nbsp;&nbsp;
                        <a class="btn btn-xs btn-default" ng-click="removeLocale(locale)">Remove</a>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="properties.name" placeholder="Name" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Revision Notes</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="properties.revisionNotes" placeholder="Revision Notes" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Long Description</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="properties.longDescription" placeholder="Long Description" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Short Description</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="properties.shortDescription" placeholder="Short Description" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Binaries</h3>
        </div>
        <div class="panel-body">
            Add Platform:
            <select ng-model="selectedPlatform" ng-change="addPlatform(selectedPlatform)" ng-options="platform for platform in platforms">
            </select>

            <div ng-repeat="(platform, properties) in revision.binaries">
                <hr>
                <div class="form-group">
                    <label class="col-sm-2 control-label"></label>
                    <div>
                        Platform <label>{{ platform }}</label>&nbsp;&nbsp;
                        <a class="btn btn-xs btn-default" ng-click="removePlatform(platform)">Remove</a>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Href</label>
                    <div class="col-sm-10">
                        <input type="url" class="form-control required" ng-model="properties.href" placeholder="href" required />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Size</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control required" ng-model="properties.size" placeholder="size" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Version</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control required" ng-model="properties.version" placeholder="version" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>

    <div class="control-group">
        <div class="controls">
            <a ng-click="revisionCreationForm.$valid && saveItemRevision()" class="btn btn-small btn-primary">Next</a>
        </div>
    </div>
</form>
</div>