<div class="span6">
  <div class="controls">
      <a href="#/items/creation">New Item</a>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th style="min-width: 80px;">Item Id</th>
        <th>Type</th>
        <th>Package Name</th>
        <th>Current Revision</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in items">
          <td><a href="#/items/{{ item.self.id }}">{{ item.self.id }}</a></td>
          <td>{{ item.type }}</td>
          <td>{{ item.packageName }}</td>
          <td><a href="#/item-revisions/{{ item.currentRevision.id }}">{{ item.currentRevision.id }}</a></td>
      </tr>
    </tbody>
  </table>
</div>