<h1>Item Creation</h1>
<form novalidate="novalidate" class="form-horizontal" name="itemCreationForm">
    <table class="table table-bordered vertical-table">
        <tr>
            <td style="width: 200px;">Type *</td>
            <td>
                <select ng-model="item.type" ng-options="itemType for itemType in itemTypes" required />
                </select>
            </td>
        </tr>
        <tr ng-show="item.type=='DIGITAL'">
            <td>Genres</td>
            <td>
                <div>
                    <label ng-repeat="genre in genres">
                        <input type="checkbox" checklist-model="item.genres" checklist-value="genre" class="chooseItem">{{ genre }}
                    </label>
                </div>
            </td>
        </tr>
    </table>
    <div class="control-group">
        <div class="controls">
            <a ng-click="itemCreationForm.$valid && saveItem()" class="btn btn-small btn-default">Next</a>
        </div>
    </div>
</form>