<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator"/>

    <conversionRule conversionWord="clr" converterClass="com.junbo.apphost.core.logging.ColorConverter"/>
    <conversionRule conversionWord="wex" converterClass="com.junbo.apphost.core.logging.WhitespaceThrowableProxyConverter"/>

    <property name="EXCEPTION_IGNORED_PACKAGES" value="
            sun.reflect,
            java.lang.reflect,
            groovy.lang,
            org.codehaus.groovy,
            org.glassfish.jersey,
            org.glassfish.grizzly,
            org.springframework.aop,
            org.springframework.transaction,
            com.sun.proxy,
            com.google.common.util.concurrent,
            com.junbo.langur.core.promise" />

    <property name="CONSOLE_LOG_PATTERN" value="%d{HH:mm:ss.SSS} %clr(%-5p) %clr(%-20.20logger{19}){cyan} %clr(:){bold} %m%n%wex{${EXCEPTION_IGNORED_PACKAGES}}"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <logger name="com.junbo.data" level="INFO">
        <appender-ref ref="CONSOLE"/>
    </logger>

</configuration>
