# Hidden files
.*
!.gitignore
!.gitkeep
!.ssh

# Build outputs
**/build/**
**/target/**
build/
target/
/build.log
/out/**

# OS files
Thumbs.db
Desktop.ini

# Package files
*.jar
*.war
!common/liquibase/lib/*
!identity/identity-data/src/test/resources/*
!identity/libs/*.jar

# Output files
*.class
**/classes/**
classes/

# IDE Files
*.iws
*.iml
*.ipr

# python execute Files
*.pyc

# Node modules
**/node_modules/**
node_modules/

# tmux log
tmux-*.log

# log file
*.log
*.log

# btm log
*.tlog

# activemq log
**/activemq-data/**
activemq-data/

# ignore diff orig file
*.orig

# ignore the personal configuration file
common/configuration-data/src/main/resources/junbo/conf/onebox/common/personal.properties
apphost/config-data/src/main/resources/junbo/conf/onebox/personal.properties
apphost/apphost-cli/logs/*
