<section class="box1">
    <h2>Add Payment Method</h2>

    <dl>
        <dt>Payment Type</dt>
        <dd>
            <select>
                <option>None</option>
                <option>VISA 1234</option>
            </select>
        </dd>
    </dl>
</section>

<section class="box1">
    <h2>Enter your Payment Info</h2>
    <p>We highly recommend entering your payment information now to immediately start purchasing content in our Store.</p>
    <dl>
        <dt>Payment Type</dt>
        <dd>
            <select>
                <option>None</option>
                <option>VISA 1234</option>
            </select>
        </dd>
    </dl>
    <div class="actions">
        <button type="button" class="btn btn-cancel">Skip this step and create account</button>
    </div>
</section>