billing.host = 10.0.1.133
billing.port = 8082

identity.host = 10.0.1.133
identity.port = 8081

oauth.host = 10.0.1.133
oauth.port = 8081

catalog.host = 10.0.1.133
catalog.port = 8083

cart.host = 10.0.1.133
cart.port = 8082

order.host = 10.0.1.133
order.port = 8082

client_id = client
client_secret = secret

payment.host = 10.0.1.133
payment.port = 8082

entitlement.host = 10.0.1.133
entitlement.port = 8082

db.postgresql.connectionstring = jdbc:postgresql://10.0.1.133:5432
db.postgresql.username = postgres
db.postgresql.password = #Bugsfor$


testdata.offer.digital.normal1 = testOffer_CartCheckout_Digital1
testdata.offer.digital.normal2 = testOffer_CartCheckout_Digital2
testdata.offer.physical.normal1 = testOffer_CartCheckout_Physical1
testdata.offer.physical.normal2 = testOffer_CartCheckout_Physical2
