commerce.host = postgresql.wansan.internal
commerce.port = 8080

identity.host = postgresql.wansan.internal
identity.port = 8080

catalog.host = postgresql.wansan.internal
catalog.port = 8080

client_id = client
client_secret = secret

db.postgresql.connectionstring = jdbc:postgresql://postgresql.wansan.internal:5432
db.postgresql.username = postgres
db.postgresql.password = #Bugsfor$


testdata.offer.digital.normal1 = testOffer_CartCheckout_Digital1
testdata.offer.digital.normal2 = testOffer_CartCheckout_Digital2
testdata.offer.physical.normal1 = testOffer_CartCheckout_Physical1
testdata.offer.physical.normal2 = testOffer_CartCheckout_Physical2
testdata.offer.storedvalue.normal = testOffer_CartCheckout_Stored_Value
