<div class="container modules">
<section class="box1">
    <h2>Select your Payment Info</h2>
    <dl>
        <dt>Payment Type</dt>
        <dd>
            <select>
                <option>None</option>
                <option>VISA 1234</option>
            </select>
        </dd>
    </dl>
    <div class="actions">
        <button type="button" class="btn btn-primary" {{action "CreateNew"}}>Create a New</button>
        <button type="button" class="btn btn-primary" {{action "Continue"}}>Continue</button>
    </div>
</section>
</div>