<div class="container modules">
<form class="box1" {{action "Continue" on="submit"}}>
    <h2>Select your Payment Info</h2>
    {{#if errMessage}}
    <p class="error">{{errMessage}}</p>
    {{/if}}
    <dl>
        <dt>Payment Method</dt>
        <dd>{{view Ember.Select content=paymentList optionValuePath="content.v" optionLabelPath="content.t" value=paymentId id="Payment" name="Payment" class="{required:true}"}}</dd>
    </dl>
    <div class="actions">
        <button type="submit" class="btn btn-primary">Continue</button>
        <button type="button" class="btn btn-primary" {{action "CreateNew"}}>Create a New</button>
    </div>
</form>
</div>