<div class="container modules">
<section class="box1">
    <h2>Please select your shipping info</h2>
    <dl class="radio">
        <dt>
            <lable>
                <input type="radio" name="ShippingInfo">
                <span>Street Address<br>City ZipCode</span>
            </lable>
        </dt>
        <dt>
            <lable>
                <input type="radio" name="ShippingInfo">
                <span>Street Address<br>City ZipCode</span>
            </lable>
        </dt>
    </dl>
    <div class="actions">
        <button type="button" class="btn btn-primary" {{action "CreateNew"}}>Create a New</button>
        <button type="button" class="btn btn-primary" {{action "Continue"}}>Continue</button>
    </div>
</section>
</div>