<div class="container modules">
    <form class="box1" {{action "Continue" on="submit"}}>
        <h2>Please provide shipping information!</h2>
        {{#if errMessage}}
        <p class="error">{{errMessage}}</p>
        {{/if}}
        <dl>
            <dt>Country</dt>
            <dd>{{view Ember.Select content=countries optionValuePath="content.v" optionLabelPath="content.t" value=country id="Country" name="Country" class="{required:true}"}}</dd>
        </dl>
        <dl>
            <dt>FirstName</dt>
            <dd>{{input type="text" class="{required:true,maxlength:20}" name="FirstName" id="FirstName" value=content.firstName}}</dd>
        </dl>
        <dl>
            <dt>LastName</dt>
            <dd>{{input type="text" class="{required:true,maxlength:20}" name="LastName" id="LastName" value=content.lastName}}</dd>
        </dl>
        <dl>
            <dt>Street Address</dt>
            <dd>{{input type="text" class="{required:true}" name="Street" id="Street" value=content.street}}</dd>
        </dl>
        <dl>
            <dt>City</dt>
            <dd>{{input type="text" class="{required:true}" name="City" id="City" value=content.city}}</dd>
        </dl>
        <dl>
            <dt>State</dt>
            <dd>{{input type="text" class="{required:true}" name="State" id="State" value=content.state}}</dd>
        </dl>
        <dl>
            <dt>Zip Code</dt>
            <dd>{{input type="text" class="{required:true}" name="PostCode" id="PostCode" value=content.postCode}}</dd>
        </dl>
        <dl>
            <dt>Phone Number</dt>
            <dd>{{input type="text" class="{required:true}" name="PhoneNumber" id="PhoneNumber" value=content.phoneNumber}}</dd>
        </dl>

        <div class="actions">
            <button type="submit" class="btn btn-primary">Continue</button>
            <button type="button" class="btn btn-cancel" {{action "Cancel"}}>Cancel</button>
        </div>
    </form>
</div>