<header>
    <h1>Store Demo</h1>
    <nav>
        {{#if isAuthenticated}}
        <span>Welcome {{username}}</span>
        &nbsp;&nbsp;
        <a href="#" {{action 'logout'}}>Log Out</a>
        {{else}}
        <a href="<%= loginUrl%>">Login</a>
        &nbsp;|&nbsp;
        <a href="<%= registerUrl%>">Register</a>
        {{/if}}
        &nbsp;|&nbsp;
        {{#link-to-animated "index" animations="main:slideOverLeft"}}Products{{/link-to-animated}}
        &nbsp;|&nbsp;
        {{#link-to-animated "account" animations="main:slideOverLeft"}}Account{{/link-to-animated}}
        &nbsp;|&nbsp;
        {{#link-to-animated "cart" animations="main:slideOverLeft"}}Shopping Cart{{/link-to-animated}}
    </nav>

    <nav>
        {{#link-to-animated "shipping" animations="main:slideOverLeft"}}Shipping{{/link-to-animated}}
        &nbsp;|&nbsp;
        <a href="/account">Account</a>
        &nbsp;|&nbsp;
        {{#link-to-animated "cart" animations="main:slideOverLeft"}}Shopping Cart{{/link-to-animated}}
    </nav>
</header>