<header>
    <h1>Store Demo</h1>
    <nav>
        <a href="<%= loginUrl%>">Login</a>
        &nbsp;|&nbsp;
        <a href="<%= registerUrl%>">Register</a>
        &nbsp;|&nbsp;
        {{#link-to-animated "index" animations="main:slideOverLeft"}}Products{{/link-to-animated}}
        &nbsp;|&nbsp;
        <a href="/account">Account</a>
        &nbsp;|&nbsp;
        {{#link-to-animated "cart" animations="main:slideOverLeft"}}Shopping Cart{{/link-to-animated}}
    </nav>
</header>