<header>
    <h1><a href="#"><%= title %></a></h1>
    <nav>
        <a href="/login">Login</a>
        &nbsp;|&nbsp;
        <a href="/register">Register</a>
        &nbsp;|&nbsp;
        <a href="/">Products</a>
        &nbsp;|&nbsp;
        <a href="/account">Account</a>
        &nbsp;|&nbsp;
        <a href="/cart">Shopping Cart</a>
    </nav>
</header>