
<section class="box1">
    <h2>Thanks you for your purchase!</h2>
    <p>Your item has been added to your library. Please log into your Store Account to install.</p>

    <div class="actions">
        <button type="submit" class="btn btn-primary">Go to Library</button>
        <button type="submit" class="btn btn-primary">Continue Shopping</button>
    </div>
</section>

<section class="box1">
    <h2>Thanks for Signing Up!</h2>
    <p>Congratulations! Your account has been successfully created. A confirmation email has been sent to your email for verification.</p>
    <p>Please check your email!</p>
    <div class="actions">
        <button type="submit" class="btn btn-primary">Log In</button>
    </div>
</section>
<section class="box1">
    <h2>Thanks for Signing Up!</h2>
    <p>Congratulations! Your account has been successfully created. A confirmation email has been sent to your email for verification. Please verify both to continue.</p>
    <p>Please check your email!</p>
    <div class="actions">
        <button type="submit" class="btn btn-primary">Log In</button>
    </div>
</section>


<section class="box1">
    <h2>Congratulations! <br> Your Store Account is ready to go!</h2>
    <p>if you haven't already, please install the Store Client Launcher to start.</p>
    <p>You may now login to the Store App.</p>
    <div class="actions">
        <button type="submit" class="btn btn-primary">Go to Download Page</button>
        <button type="submit" class="btn btn-primary">Launch Store Client</button>
    </div>
</section>

<section class="box1">
    <h2>Congratulations! <br> Your Store Account is ready to go!</h2>
    <p>You may now login to the Store App.</p>
    <div class="actions">
        <button type="submit" class="btn btn-primary">Launch Store Client</button>
    </div>
</section>