<section class="box1 verification_code">
    <h2>New Device Detected!</h2>
    <p>We don't recognize this device! Please enter the code sent to your email to login.</p>

    <dl>
        <dt>Enter Verification Code</dt>
        <dd><input type="text"></dd>
    </dl>
    <dl class="agreement">
        <dd><label><input type="checkbox"> Remember this computer</label></dd>
    </dl>
    <div class="actions">
        <button type="submit" class="btn btn-primary">Verify</button>
    </div>

    <section class="helper">
        <hgroup><h3>Didn't receive a code?</h3></hgroup>
        <p class="message"><span>Verification sent!</span></p>
        <p><a href="#">Re-send code to Email Address</a></p>
        <p><a href="#">Re-send code to SMS</a></p>
    </section>

</section>

<section class="box1 verification_code">
    <h2>Verification Code Sent!</h2>
    <p>Please provide the verification code sent to confirm this purchase.</p>

    <dl>
        <dt>Enter Verification Code</dt>
        <dd><input type="text"></dd>
    </dl>
    <dl class="agreement">
        <dd><label><input type="checkbox"> Remember this computer</label></dd>
    </dl>
    <div class="actions">
        <button type="submit" class="btn btn-primary">Verify</button>
    </div>

    <section class="helper">
        <hgroup><h3>Didn't receive a code?</h3></hgroup>
        <p class="message"><span>Verification sent!</span></p>
        <p><a href="#">Re-send code to Email Address</a></p>
        <p><a href="#">Re-send code to SMS</a></p>
    </section>

</section>
