<script type="text/x-handlebars" data-template-name="lookup">
    <div class="container lookup">
        <div class="row">
            <div class="panel panel-default col-md-4 panel-csr">
                <div class="panel-heading">
                    <h3 class="panel-title">Look up</h3>
                </div>
                <div class="panel-body">
                    <form role="form">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            {{input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" value=content.email}}

                            {{#if isValid}}
                            <label class="error">Email Invalid!</label>
                            {{/if}}
                        </div>
                        <button id="BtnSubmit" type="button" class="btn btn-success" {{action Submit}}>Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</script>