<script type="text/x-handlebars" data-template-name="payments">
<div class="panel panel-default panel-csr" id="Payments">
    <div class="panel-heading">
        <h3 class="panel-title">Payments</h3>

        <ul class="nav navbar-nav navbar-right">
            <li id="fat-menu" class="dropdown">
                <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Actions<b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" {{action Filter}}>Filter</a></li>
                </ul>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="panel-body">
        <div class="panel-filter">
            <button type="button" class="close" aria-hidden="true">&times;</button>
            <p>
                Type:
                <select>
                    <option>All</option>
                    <option>Pay-In</option>
                </select>
            </p>
            <p>Search: <input type="text"> <input type="button" class="btn btn-primary btn-xs" value="Filter" /></p>
        </div>

        {{#if isLoading}}
        <div class="panel-loading"></div>
        {{/if}}

        <div class="panel-list">

            {{#each list itemController="PaymentItem"}}
            <div class="item">
                <div class="btns">
                    <ul class="nav navbar-nav navbar-right">
                        <li id="fat-menu" class="dropdown">
                            <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-list"></span></a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Set Primary</a></li>
                                <li role="presentation" class="divider"></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Remove</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <h4>{{creditCardRequest.creditCardType}} {{cardNumberLast}}
                    {{#if isPrimary}}
                    <label>Primary</label>
                    {{/if}}
                </h4>
                <label><span>Exp: </span>{{creditCardRequest.expireDate}}</label>
            </div>
            {{/each}}

        </div>
    </div>
</div>
</script>