<script type="text/x-handlebars" data-template-name="sidebar">
<div class="panel panel-default panel-csr" id="Sidebar">
    <div class="panel-heading">
        <h3 class="panel-title">Tom Slick</h3>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Edit</a></li>
        </ul>
    </div>
    <div class="panel-body">
        <div class="user-info">
            <dl>
                <dt>Username:</dt>
                <dd>TomSlick</dd>
            </dl>
            <dl>
                <dt>Email:</dt>
                <dd>TomSlick@SilkCloud.com</dd>
            </dl>
            <dl>
                <dt>Status:</dt>
                <dd>ACTIVE</dd>
            </dl>
            <dl>
                <dt>Created Time:</dt>
                <dd>2014-02-27 09:15:26</dd>
            </dl>
        </div>
    </div>
</div>
</script>