<script type="text/x-handlebars" data-template-name="sidebar">
<div class="panel panel-default panel-csr" id="Sidebar">
    <div class="panel-heading">
        <h3 class="panel-title">Tom Slick</h3>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Edit</a></li>
        </ul>
    </div>
    <div class="panel-body">
        {{#if isLoading}}
        <div class="panel-loading"></div>
        {{/if}}

        <div class="user-info">
            <dl>
                <dt>Username:</dt>
                <dd>{{user.userName}}</dd>
            </dl>
            <dl>
                <dt>Email:</dt>
                <dd>{{user.userName}}</dd>
            </dl>
            <dl>
                <dt>Status:</dt>
                <dd>{{user.status}}</dd>
            </dl>
        </div>
    </div>
</div>
</script>