
body { margin: 0 auto; padding: 0; font: 11px Helvetica,Arial,Verdana,sans-serif; color: #333;}
a{ text-decoration: none; color: #3b5998;}
a:hover{ text-decoration: underline;}
h3{ margin: 0;}

input[type=text],
input[type=number],
input[type=email],
input[type=password],
select{ border: solid 1px #AFAFAF; height: 20px; line-height: 20px; border-right-color: #797979; border-bottom-color: #797979;}
select{ height: 22px;}

header,.container{ margin: 0 auto; width: 960px;}

body header > nav{ line-height: 25px; color: #CCC; border-bottom: solid 1px #BCBCBC;}

.clear{ clear: both; height: 0; overflow: hidden;}
.line1{ margin: 5px 0 5px 0; border-top:solid 1px #CCC; height: 0; overflow: hidden;}

.btn{ display: inline-block; padding: 0px 8px; line-height: 25px; min-width: 50px; border-radius:3px; border:solid 1px transparent;}
.btn:active{box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);}
.btn-large{padding: 0px 10px; line-height: 30px; border-radius:4px;}
.btn-small{padding: 0px 5px; line-height: 18px; min-width: 30px; border-radius:3px;}

.btn-primary{ background-color:#428bca; border-color: #357ebd; color: #FFF; }
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active{ background-color: #3276b1; border-color: #285e8e; }
.btn-orange{ background-color: #FF8A3C; border-color: #FF7920; color: #FFF;}
.btn-orange:hover, .btn-orange:focus, .btn-orange:active, .btn-orange.active{ background-color: #FF6600; border-color: #E85C00; }
.btn-cancel{ background-color: #fff; border-color: #ccc; color: #333;}
.btn-cancel:hover, .btn-cancel:focus, .btn-cancel:active, .btn-cancel.active{ background-color: #ebebeb; border-color: #adadad; }
.btn-primary.load,.btn-orange.load,.btn-cancel.load{ color: transparent; background: #FFF url("/images/loader.gif") no-repeat center center;}

.box1, .box2{ padding: 15px; border: solid 1px #ccc; background-color: #fff;}
.box1{ margin: 0 auto; width: 250px;}
.box1 > h2, .box2 > h2{ margin: 0 0 10px 0;}
.box1 > p, .box2 > p{ margin: 0 0 25px 0;}
.box1 > p.error, .box2 > p.error{ margin: 0 0 10px 0; padding: 4px 0px 4px 2px; color: #f00;  border: solid 1px #C4AC09; background-color: #FCF8E3;}
.box1 > dl > dt, .box2 > dl > dt{ line-height: 20px; font-weight: bold;}
.box1 > dl > dd, .box2 > dl > dd{ margin: 0;}
.box1 > dl > dd > .error,
.box2 > dl > dd > .error{ display:block; line-height: 20px; color: #f00;}
.box1 > dl.radio > dt > lable{ display: inline-block; position: relative; padding-left: 22px; line-height: 18px;}
.box1 > dl.radio > dt > lable input{ position: absolute; left: 0px; top: 0px;}
.box1 input[type=text],
.box1 input[type=number],
.box1 input[type=email],
.box1 input[type=password]{ padding-left: 2px; width: 245px }
.box1 button, .box1 input[type=submit]{ width: 248px }
.box1 select{ width: 248px; height: 24px; }
.box1 > dl.agreement > dd,
.box1 > dl.agreement > dt,
.box2 > dl.agreement > dd,
.box2 > dl.agreement > dt{ margin-bottom: 10px; line-height: 16px;  }
.box1 > dl.agreement > dd input,
.box2 > dl.agreement > dd input{ float: left; }
.box1 dl.agreement .error, .box2 dl.agreement .error{ display: block; color: #f00;}
.box1 > .actions, .box2 > .actions{ margin: 20px 0 0 0;}
.box1 > .actions > button,
.box1 > .actions > input[type=submit],
.box2 > .actions > button,
.box2 > .actions > input[type=submit]{ display: block; margin-bottom: 20px;}
.box1 > .actions > button:last-child,
.box2 > .actions > button:last-child{  margin-bottom: 0px;}

.box1 > .helper, .box2 > .helper{ margin: 40px 0 0 0;}
.box1 > .helper > .message,
.box2 > .helper > .message{ font-size: 16px; font-weight: bold; color: #f00;}

.box1 .month{ width: 60px;}
.box1 .day{ margin-left: 20px; width: 60px;}
.box1 .year{margin-left: 20px; width: 83px;}
.box1 .month.error, .box1 .day.error,.box1 .year.error{ display: inline-block;}
.box1 .line1{ margin: 10px 0;}

.alert{ padding: 15px 15px 10px 15px; min-width: 200px; width: 200px; border: solid 1px #CCC; background-color: #F7F7F7; box-shadow: 0 2px 20px rgba(0,0,0, .5); z-index: 9999;}
.alert div{ margin-top: 30px; text-align: center;}
.alert .error{margin: 0 0 10px 0; padding: 4px 0px 4px 2px; color: #f00;  border: solid 1px #C4AC09; background-color: #FCF8E3;}
.alert dl.agreement > dd,
.alert dl.agreement > dt,
.alert dl.agreement > dd,
.alert dl.agreement > dt{ margin: 0; margin-bottom: 10px; line-height: 16px;  }
.alert dl.agreement > dd input,
.alert dl.agreement > dd input{ float: left; }
.alert dl.agreement .error{ display: block;}

#ShadowLayer{ position: absolute; top: 0; left: 0; margin: 0 auto; padding: 0; width: 100%; height: 100%; visibility: visible; background-color: rgba(0,0,0,.5); z-index:9998; }
.container{ margin: 0 auto; padding-top: 30px; background-color: #FFF;}
.container > .categories{ float: left; width: 168px;}
.container > .product_list{}
.container .ember-animated-container{ margin: 0 auto; width: auto; height: auto;}

.categories > ul{ margin: 15px 0 0 0; padding-left: 0px;}
.categories > ul >  li{ display: block; padding-left: 10px; line-height: 22px;}

.product_list{ background-color: #fff;}
.product_list > h3{ margin-bottom: 10px;}
.product_list > dl{ float: left; margin: 0 20px 20px 0; padding-bottom: 10px; width: 290px; border: solid 1px #CCC; background-color: #F7F7F7; }
.product_list > dl > dt{ margin: 0; padding:0 10px;  line-height: 25px; font-weight: bold;}
.product_list > dl > dd{ margin: 0; padding:0 10px; line-height: 22px;}
.product_list > dl > dd.img{ margin: 0; padding:0px; }
.product_list > dl > dd.img img{ width: 290px; height:163px; }

/* Product Detail */
.detail{ background-color: #FFF;}
.detail > h3{ margin-bottom: 15px;}
.detail > .picture{ float: left; width: 550px; height: 300px; background-color: #EAEAEA; }
.detail > .info{ float: right; padding: 15px; width: 340px; height: 270px; border:solid 1px #CCC; background-color: #F7F7F7; }

/* Shopping Cart */
.cart{ background-color: #FFF;}
.cart_list{ padding: 20px; border:solid 1px #CCC; }
.cart_list > h2{ margin: 0; padding-bottom: 5px; border-bottom: solid 1px #D5D5D5;}
.cart_list .item{ padding: 15px 0; border-bottom: solid 1px #D5D5D5; }
.cart_list .item .select{ float: left; width: 30px; height: 120px;}
.cart_list .item .picture{ float: left; width: 200px; height: 120px; background-color: #EAEAEA; }
.cart_list .item .picture img{ width: 200px; height: 120px;}
.cart_list .item .info{ margin-left: 250px; }
.cart_list .item .info dl{ margin: 0; height: 22px; line-height: 22px; }
.cart_list .item .info dt{ float: left; width: 400px; font-weight: bold; }
.cart_list .item .info dd{ float: left; margin-left: 0; width: 90px; }
.cart_list .item .info dd >  input{ width: 40px; text-align: right;}
.cart_list .item .info dd.qty{ width: 80px;  line-height: auto;}
.cart_list .item .info dd:last-child{ float: right; text-align: right; font-weight: bold; }
.cart_list .item .info > p{ margin: 5px 0; padding-top: 5px; text-align: right; line-height: 20px; border-top: solid 1px #D5D5D5;}

.cart_list .info{ padding-top: 10px;}
.cart_list .money{ float: right; width: 180px;}
.cart_list .money dl{ margin: 0; line-height: 22px; height: 22px;}
.cart_list .money dt{float: left; width: 80px; text-align: right;}
.cart_list .money dd{float: right; margin: 0; width: 100px; text-align: right;}
.cart_list .money dl.total{ margin-top: 3px; padding-top: 3px; line-height: 30px; font-size: 18px; font-weight: bold; border-top: solid 1px #D5D5D5; }

.cart_list .actions{ margin-top: 20px; padding: 15px 0px; padding-bottom: 0px; text-align: right; border-top: solid 1px #D5D5D5;}


/* Order Summary */
.order_summary{}
.order_summary .order{ border:solid 1px #CCC; background-color: #F2F2F2; font-size: 14px;}
.order > .list, .order > .total, .order > .info{ padding: 20px 30px; border-bottom: solid 1px #CCC;}

.order dl{ height: 25px; line-height: 22px;}
.order dt{float: left; }
.order dd{ float: left; margin: 0;}
.order > .list dl dt{  width: 55%;  font-weight: bold;}
.order > .list dl dd{  width: 12%; text-align: right; }
.order > .list dl dd:last-child{ float: right; font-weight: bold;}

.order .total .money{ float: right; width: 270px;}
.order .total .money dl{ margin: 0; line-height: 22px; height: 22px;}
.order .total .money dt{float: left; width: 150px; text-align: right;}
.order .total .money dd{float: right; margin: 0; width: 120px; text-align: right;}
.order .total .money dl.total{ margin-top: 3px; padding-top: 3px; line-height: 30px; font-size: 18px; font-weight: bold;  }

.order .info dl{ margin: 0;}
.order .info dl dt{ width: 150px; text-align: right; font-weight: bold;}
.order .info dl dd{ float: none; margin-left: 180px;}
.order .info dl.billing_address{ height: auto;}
.order .info dl.billing_address dd.clear{ clear: left;}

.order .actions{ padding: 30px; text-align: right;}

/* Login */
.login, .register{ margin: 30px auto 0 auto;}
.register .month{ width: 60px;}
.register .day{ margin-left: 20px; width: 60px;}
.register .year{margin-left: 20px; width: 83px;}
.captcha{ width: 450px;}

/* create payment */
.create_payment .cvv dd input{ width: 60px;}

/* account */
.account .modules{ margin: 0; padding: 0; width: 690px;}

.account .sidebar{ float: left; width: 200px;}
.account .content{ float: right; width: 690px; }
.account .settings dl dt{ position: relative;}
.account .settings dl dt .btn-primary{ position: absolute; right: 0px; min-width: 10px; width: auto;}
.account .settings dl dd{ width: 200px;}

.account .payment, .account .shipping{ position: relative;}
.account .payment .list, .account .shipping .list{ padding: 10px; border: solid 1px #CCC; }
.account .payment .list dl,
.account .shipping .list dl{ margin: 5px 0 0 0; padding-bottom: 5px; height: 24px; line-height: 24px;  border-bottom: solid 1px #ddd; }
.account .payment .list dl:last-child,
.account .shipping .list dl:last-child{ border-bottom: none;}
.account .payment .list dl dd, .account .shipping .list dl dd{ margin: 0; float: left;  }
.account .payment .list dl dd:first-child{ width: 100px; }
.account .payment .list dl dd:first-child label{ display: inline-block; padding: 0 5px; line-height: 18px; background-color: #FFF; color: #999; border: solid 1px #CCC; }
.account .payment .list dl dd.number{ width: 150px; }
.account .payment .list dl dd.exp{ width: 100px; }
.account .payment .list dl dd:last-child,
.account .shipping .list dl dd:last-child{ float: right;  }
.account .payment .alert,.account .shipping .alert{ display: none; position: absolute; top: 40px; left: 200px;}
.account .shipping .list dl{min-height: 80px; line-height: 20px;}
.account .shipping .list dl dt{ float: left; width: 200px;}

.account .history{  min-height: 300px; }
.account .history > h2{ margin: 0; padding-bottom: 10px; }
.account .history > .item{ margin-bottom: 10px; border: solid 1px #ddd;}
.account .history > .item .header{ margin: 0; padding: 0 10px; height: 35px; line-height: 35px; background-color: #F2F2F2; cursor: pointer; }
.account .history > .item .header dt{ float: left; width: 32%; font-weight: bold;}
.account .history > .item .header dt:last-child{ float: right; width: 20%; text-align: right;}
.account .history > .item .detail{ padding: 10px; border-top: solid 1px #CCC; }
.account .history > .item .detail > dl{ height: 25px; line-height: 25px; border-bottom: solid 1px #ddd;}
.account .history > .item .detail > dl dt{ float: left; width: 50%;}
.account .history > .item .detail > dl dd{float: left; margin: 0; width: 15%;}
.account .history > .item .detail > dl dd:last-child{ float: right; width: 15%; text-align: right; font-weight: bold;}
.account .history > .item .detail > dl dt .download{display: inline-block; position: relative; padding: 0 4px; line-height: 16px; color: #FFF; background-color: #FF6600; cursor: pointer; }
.account .history > .item .detail > dl dt .download ul{display: none;}
.account .history > .item .detail > dl dt .download:hover ul{display:block; margin: 0; padding: 0; position: absolute; top: 0px; left: 0px; width: 200px; background-color: #f7f7f7; border: solid 1px #CCC; z-index: 1000; box-shadow: 0 0 2px rgba(0,0,0, .2); }
.account .history > .item .detail > dl dt .download:hover ul li{display:block; padding: 0 0 0 10px; height: 25px; line-height: 25px; list-style: none; border-bottom: solid 1px #CCC; }
.account .history > .item .detail .money{ float: right; width: 270px;}
.account .history > .item .detail .money dl{ margin: 0; line-height: 22px; height: 22px;}
.account .history > .item .detail .money dt{float: left; width: 150px; text-align: right;}
.account .history > .item .detail .money dd{float: right; margin: 0; width: 120px; text-align: right;}
.account .history > .item .detail .money dl.total{ margin-top: 3px; padding-top: 3px; line-height: 30px; font-size: 18px; font-weight: bold;  }

.account .entitlements{ position: relative;}
.account .entitlements .list{ padding: 10px; border: solid 1px #CCC; }
.account .entitlements .list dl{ margin: 5px 0 0 0; padding-bottom: 5px; height: 24px; line-height: 24px;  border-bottom: solid 1px #ddd; }
.account .entitlements .list dl:last-child{ border-bottom: none;}
.account .entitlements .list dl{min-height: 60px; line-height: 20px;}
.account .entitlements .list dl dt{ }


/* modules */
.modules{ padding-top: 30px;}

.dev_center .sidebar{ float: left; width: 200px;}
.dev_center .content{ float: right; width: 690px; position: relative; }

.dev_center .alert{  position: absolute; top: 0px; left: 10px; width: 350px; min-height: 150px;}
.dev_center .alert p{ min-height: 50px;}
.dev_center .alert div{ text-align: right;}