/* Useful for public code */
/*  font colors */
/* bg colors */
/* icons */
.icon-no-repeat {
  background-repeat: no-repeat;
}
.icon-white {
  background-image: url('../images/sprite-16-white.png');
}
.icon-home {
  background-position: -16px -16px;
}
.icon-search {
  background-position: -16px -96px;
}
.icon-chevron-right {
  background-position: 0 -48px;
}
.icon-globe {
  background-position: -80px -288px;
}
.icon-chevron-down {
  background-position: -64px -256px;
}
.icon-external-link {
  background-position: -144px -64px;
}
/* global element */
.body_bg1 {
  background-color: #132a43;
  background: #132a43 url('/images/bg1-1920.jpg') no-repeat center -200px;
}
.header_bg1 {
  background: #132a43 url('/images/bg1-1920.jpg') no-repeat center 0;
}
.body_bg2 {
  background-color: #311507;
  background: #311507 url('/images/bg2-1920.jpg') no-repeat center -200px;
}
.header_bg2 {
  background: #311507 url("/images/bg2-1920.jpg") no-repeat center 0;
}
.body_bg3 {
  background-color: #281504;
  background: #281504 url('/images/bg3-1920.jpg') no-repeat center -200px;
}
.header_bg3 {
  background: #281504 url("/images/bg3-1920.jpg") no-repeat center 0;
}
.body_bg4 {
  background-color: #122128;
  background: #122128 url('/images/bg4-1920.jpg') no-repeat center -200px;
}
.header_bg4 {
  background: #122128 url("/images/bg4-1920.jpg") no-repeat center 0;
}
.body_bg5 {
  background-color: #1d1425;
  background: #1d1425 url('/images/bg5-1920.jpg') no-repeat center -200px;
}
.header_bg5 {
  background: #1d1425 url("/images/bg5-1920.jpg") no-repeat center 0;
}
.body_bg6 {
  background-color: #2a0e0b;
  background: #2a0e0b url('/images/bg6-1920.jpg') no-repeat center -200px;
}
.header_bg6 {
  background: #2a0e0b url("/images/bg6-1920.jpg") no-repeat center 0;
}
.body_bg7 {
  background-color: #081d32;
  background: #081d32 url('/images/bg7-1920.jpg') no-repeat center -200px;
}
.header_bg7 {
  background: #081d32 url("/images/bg7-1920.jpg") no-repeat center 0;
}
.body_bg8 {
  background-color: #271d36;
  background: #271d36 url('/images/bg8-1920.jpg') no-repeat center -200px;
}
.header_bg8 {
  background: #271d36 url("/images/bg8-1920.jpg") no-repeat center 0;
}
.body_bg9 {
  background-color: #0e2020;
  background: #0e2020 url('/images/bg9-1920.jpg') no-repeat center -200px;
}
.header_bg9 {
  background: #0e2020 url("/images/bg9-1920.jpg") no-repeat center 0;
}
.body_bg10 {
  background-color: #2d170a;
  background: #2d170a url('/images/bg10-1920.jpg') no-repeat center -200px;
}
.header_bg10 {
  background: #2d170a url("/images/bg10-1920.jpg") no-repeat center 0;
}
.logo_txt {
  -webkit-transition: text-shadow 0.4s;
  -moz-transition: text-shadow 0.4s;
  -o-transition: text-shadow 0.4s;
  transition: text-shadow 0.4s;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Blizzard";
  font-size: 23px;
  font-weight: 300;
}
.logo_txt_hover_focus {
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.3), 0 0 15px rgba(255, 255, 255, 0.3);
}
.search_input {
  border: none;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5) inset;
}
/* Bootstarp */
.dropdown_right {
  left: auto;
  right: 0px;
}
.dropdown_toggle {
  color: rgba(255, 255, 255, 0.7);
}
.dropdown_toggle_hover {
  text-decoration: none;
  color: #ffffff;
}
.dropdown_prefix_icon {
  display: inline-block;
  margin-right: 5px;
  vertical-align: text-bottom;
  width: 16px;
  height: 16px;
  opacity: .5;
}
.dropdown_menu {
  border-radius: 0px;
  background: rgba(0, 0, 0, 0.4);
}
.dropdown_ment_divider {
  background-color: rgba(255, 255, 255, 0.2);
}
.dropdown_menu_item {
  color: rgba(255, 255, 255, 0.7);
}
.dropdown_menu_item_hover {
  color: #ffffff;
  background: rgba(0, 0, 0, 0.6);
}
.dropdown_caret {
  padding: 0;
  width: 16px;
  height: 16px;
  border: none;
  opacity: .4;
  vertical-align: text-bottom;
  background-image: url('../images/sprite-16-white.png');
  background-position: -64px -256px;
  background-repeat: no-repeat;
}
/* header */
.top-nav_bg {
  background: rgba(0, 0, 0, 0.4);
}
.top-nav_li_hover_bg {
  background: rgba(255, 255, 255, 0.1);
}
@font-face {
  font-family: "Blizzard";
  font-style: normal;
  font-weight: 300;
  src: local("Blizzard Light"), local("Blizzard-Light"), url("/fonts/blizzard-light.woff") format("woff");
}
@font-face {
  font-family: "Blizzard";
  font-style: normal;
  font-weight: 400;
  src: local("Blizzard"), local("Blizzard"), url("/fonts/blizzard-regular.woff") format("woff");
}
body {
  font-family: "Blizzard", "Arial", "Helvetica", sans-serif;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.7);
}
.body-bg-1 {
  background-color: #132a43;
  background: #132a43 url('/images/bg1-1920.jpg') no-repeat center -200px;
}
.body-bg-1 .header {
  background: #132a43 url('/images/bg1-1920.jpg') no-repeat center 0;
}
.body-bg-2 {
  background-color: #311507;
  background: #311507 url('/images/bg2-1920.jpg') no-repeat center -200px;
}
.body-bg-2 .header {
  background: #311507 url("/images/bg2-1920.jpg") no-repeat center 0;
}
.body-bg-3 {
  background-color: #281504;
  background: #281504 url('/images/bg3-1920.jpg') no-repeat center -200px;
}
.body-bg-3 .header {
  background: #281504 url("/images/bg3-1920.jpg") no-repeat center 0;
}
.body-bg-4 {
  background-color: #122128;
  background: #122128 url('/images/bg4-1920.jpg') no-repeat center -200px;
}
.body-bg-4 .header {
  background: #122128 url("/images/bg4-1920.jpg") no-repeat center 0;
}
.body-bg-5 {
  background-color: #1d1425;
  background: #1d1425 url('/images/bg5-1920.jpg') no-repeat center -200px;
}
.body-bg-5 .header {
  background: #1d1425 url("/images/bg5-1920.jpg") no-repeat center 0;
}
.body-bg-6 {
  background-color: #2a0e0b;
  background: #2a0e0b url('/images/bg6-1920.jpg') no-repeat center -200px;
}
.body-bg-6 .header {
  background: #2a0e0b url("/images/bg6-1920.jpg") no-repeat center 0;
}
.body-bg-7 {
  background-color: #081d32;
  background: #081d32 url('/images/bg7-1920.jpg') no-repeat center -200px;
}
.body-bg-7 .header {
  background: #081d32 url("/images/bg7-1920.jpg") no-repeat center 0;
}
.body-bg-8 {
  background-color: #271d36;
  background: #271d36 url('/images/bg8-1920.jpg') no-repeat center -200px;
}
.body-bg-8 .header {
  background: #271d36 url("/images/bg8-1920.jpg") no-repeat center 0;
}
.body-bg-9 {
  background-color: #0e2020;
  background: #0e2020 url('/images/bg9-1920.jpg') no-repeat center -200px;
}
.body-bg-9 .header {
  background: #0e2020 url("/images/bg9-1920.jpg") no-repeat center 0;
}
.body-bg-10 {
  background-color: #2d170a;
  background: #2d170a url('/images/bg10-1920.jpg') no-repeat center -200px;
}
.body-bg-10 .header {
  background: #2d170a url("/images/bg10-1920.jpg") no-repeat center 0;
}
a {
  color: #00b6ff;
}
a:hover,
a:focus {
  color: #ffffff;
  text-decoration: none;
}
.input-checkbox {
  display: inline-block;
  width: 18px;
  height: 18px;
  vertical-align: text-bottom;
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  background: rgba(0, 0, 0, 0.5) url('/images/sprite-18-inputs.png') no-repeat 20px 20px;
  cursor: pointer;
}
.is-checked .input-checkbox,
.input-checkbox.checked {
  background-position: -1px 0;
}
.input-radio {
  display: inline-block;
  width: 18px;
  height: 18px;
  vertical-align: text-bottom;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 9px;
  background: rgba(0, 0, 0, 0.5) url('/images/sprite-18-inputs.png') no-repeat 20px 20px;
  cursor: pointer;
}
.input-radio.checked {
  background-position: -19px -1px;
}
.input-radio input {
  display: none;
}
.input-text {
  padding: 0 3px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5) inset;
  background: rgba(0, 0, 0, 0.5);
}
/* Bootstarp overwrite */
.container {
  margin: 0 auto;
  padding: 0;
}
.breadcrumb {
  margin-bottom: 0;
  padding: 0;
  line-height: 39px;
  background-color: transparent;
}
.breadcrumb > li + li:before {
  padding: 0;
  content: "";
}
.breadcrumb > li > a {
  color: rgba(255, 255, 255, 0.7);
}
.breadcrumb > li > a:hover {
  color: #ffffff;
  text-decoration: none;
}
.breadcrumb-home > .icon-home {
  display: inline-block;
  margin: 0px 7px 0 5px;
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
  opacity: .4;
  background-image: url('../images/sprite-16-white.png');
  background-position: -16px -16px;
  background-repeat: no-repeat;
}
.breadcrumb > li > .divider {
  padding: 0 5px;
  opacity: .25;
}
.breadcrumb > li > .divider > i {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
  background-image: url('../images/sprite-16-white.png');
  background-position: 0 -48px;
  background-repeat: no-repeat;
}
.breadcrumb > .active {
  color: #ffffff;
}
.dropdown .dropdown-toggle {
  color: rgba(255, 255, 255, 0.7);
}
.dropdown .dropdown-toggle:hover,
.top-bar .region-status .dropdown-toggle:focus {
  text-decoration: none;
  color: #ffffff;
}
.dropdown .dropdown-toggle .prefix-icon {
  display: inline-block;
  margin-right: 5px;
  vertical-align: text-bottom;
  width: 16px;
  height: 16px;
  opacity: .5;
  background-image: url('../images/sprite-16-white.png');
  background-position: -80px -288px;
  background-repeat: no-repeat;
}
.dropdown .dropdown-toggle .caret {
  padding: 0;
  width: 16px;
  height: 16px;
  border: none;
  opacity: .4;
  vertical-align: text-bottom;
  background-image: url('../images/sprite-16-white.png');
  background-position: -64px -256px;
  background-repeat: no-repeat;
}
.dropdown .dropdown-menu {
  left: auto;
  right: 0px;
  border-radius: 0px;
  background: rgba(0, 0, 0, 0.4);
}
.dropdown .dropdown-menu > li > a {
  color: rgba(255, 255, 255, 0.7);
}
.dropdown .dropdown-menu > li > a:hover {
  color: #ffffff;
  background: rgba(0, 0, 0, 0.6);
}
.dropdown .dropdown-menu .divider {
  background-color: rgba(255, 255, 255, 0.2);
}
.btn {
  min-width: 150px;
  padding: 10px 20px;
  margin-right: 20px;
  border: none;
  border-radius: 2px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}
.btn.btn-default {
  border: 1px solid rgba(255, 255, 255, 0.15);
  color: #00b6ff;
  background: rgba(0, 0, 0, 0.15);
  box-shadow: none;
}
.btn.btn-default:hover,
.btn.btn-default:focus {
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.btn.btn-default:active {
  box-shadow: inset 1.5px 1.5px 3px rgba(0, 0, 0, 0.8);
}
/* Global  */
.game-badge {
  display: inline-block;
  width: 45px;
  height: 50px;
  overflow: hidden;
  line-height: 50px;
  vertical-align: middle;
  background: url("/images/sprite-badges.png") no-repeat 0 50px;
}
.game-badge.wow {
  background-position: -50px 0;
}
.game-badge.diablo {
  background-position: -100px 0;
}
.game-badge.starcraft {
  background-position: -150px 0;
}
.game-badge.hearthstone {
  background-position: -200px 0;
}
.game-badge.battle-net {
  background-position: -250px 0;
}
.header {
  height: 120px;
}
.header-primary,
.header-secondary {
  border-bottom: 1px solid;
  border-color: rgba(255, 255, 255, 0.07);
  background: rgba(255, 255, 255, 0.05);
}
.header-primary {
  height: 80px;
}
.header-secondary {
  height: 40px;
  min-height: 39px;
  margin-bottom: 0;
}
.header-primary .shop-logo {
  display: inline-block;
  margin-top: 15px;
}
.header-primary .shop-logo a {
  -webkit-transition: text-shadow 0.4s;
  -moz-transition: text-shadow 0.4s;
  -o-transition: text-shadow 0.4s;
  transition: text-shadow 0.4s;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Blizzard";
  font-size: 23px;
  font-weight: 300;
}
.header-primary .shop-logo a:hover,
.header-primary .shop-logo a:focus {
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.3), 0 0 15px rgba(255, 255, 255, 0.3);
}
.header-primary .top-nav {
  display: block;
  float: right;
  width: auto;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Arial, sans-serif;
  color: #8694a1;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}
.header-primary .top-nav > ul {
  margin: 0 auto;
  padding: 0;
}
.header-primary .top-nav > ul > li {
  list-style-type: none;
  display: block;
  float: left;
  height: 35px;
  line-height: 35px;
  border-right: 1px solid;
  border-color: rgba(255, 255, 255, 0.07);
}
.header-primary .top-nav > ul > li:last-child {
  border: none;
}
.header-primary .top-nav > ul > li:hover {
  background: rgba(255, 255, 255, 0.1);
}
.header-primary .top-nav > ul > li > a {
  display: block;
  padding: 0 15px;
  font-size: 12px;
  text-transform: uppercase;
  color: #00b6ff;
}
.header-primary .top-nav > ul > li > a:hover,
.header-primary .top-nav ul li a:focus {
  text-decoration: none;
  color: #ffffff;
}
.header-primary .top-nav > ul > li.logo {
  padding: 0 10px;
  background: #171919;
}
.header-primary .top-nav > ul > li.logo a {
  color: #ffffff;
}
.header-primary .top-nav > ul > li.login {
  padding: 0 15px;
}
.header-primary .top-nav > ul > li.login a {
  display: inline;
  padding: 0;
  font-size: 11px;
  text-transform: none;
}
.top-bar .search {
  display: block;
  float: left;
  margin: 8px 0 0 0;
  width: 180px;
  height: 25px;
  vertical-align: text-bottom;
  border: none;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5) inset;
}
.top-bar .search span {
  display: block;
  float: left;
  margin: 6px 0 0 5px;
  width: 15px;
}
.top-bar .search input {
  display: block;
  float: left;
  margin: 0 0 0 4px;
  width: 150px;
  border: none;
  height: 25px;
  line-height: 25px;
  font-family: arial, sans-serif;
  background: transparent;
}
.top-bar .region-status {
  float: right;
  margin-left: 20px;
  height: 39px;
  line-height: 39px;
}
.sidebar {
  position: relative;
  padding-left: 0;
}
.sidebar .side-head-title {
  position: absolute;
  top: -70px;
  font-weight: 300;
  color: #ffffff;
  z-index: 1;
}
.sidebar .logo-family {
  display: block;
  position: absolute;
  top: -188px;
  left: -50px;
  z-index: 1;
}
.sidebar .game-types {
  margin: 0;
  padding: 0;
}
.sidebar .game-types li {
  list-style-type: none;
  margin-bottom: 4px;
  height: 50px;
  line-height: 20px;
  font-size: 17px;
  color: #ffffff;
  font-family: Blizzard, Arial, Helvetica, sans-serif;
}
.sidebar .game-types li a {
  color: rgba(255, 255, 255, 0.7);
}
.sidebar .game-types li a:hover {
  color: #ffffff;
  text-decoration: none;
}
.sidebar .product-count {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.5);
}
.sidebar .side-type-title {
  margin: 0;
  padding: 0;
  padding-top: 30px;
  margin-bottom: 10px;
  font-size: 11px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
}
.sidebar .side-type-title .clear-filters {
  padding-left: 2em;
  text-transform: uppercase;
}
.sidebar .product-types {
  margin: 0;
  padding: 0;
  font-size: 13px;
}
.sidebar .product-types li {
  list-style-type: none;
  margin-bottom: 10px;
  line-height: 20px;
}
.sidebar .product-types li a {
  color: rgba(255, 255, 255, 0.7);
}
.sidebar .product-types li a:hover {
  color: #ffffff;
  text-decoration: none;
}
.sidebar .product-types li a:hover .input-checkbox {
  border-color: rgba(255, 255, 255, 0.2);
}
.sidebar .product-types li a.is-checked {
  color: #ffffff;
}
.sidebar .sidebar-links {
  margin-top: 40px;
}
.sidebar .sidebar-links p {
  margin-bottom: 10px;
}
.sidebar .sidebar-links p a {
  color: rgba(255, 255, 255, 0.5);
}
.sidebar .sidebar-links p a:hover {
  color: #ffffff;
  text-decoration: none;
}
.sidebar .sidebar-links p .icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
  color: #ffffff;
  text-decoration: none;
  background-image: url('../images/sprite-16-white.png');
  background-repeat: no-repeat;
  background-position: -144px -64px;
  opacity: .5;
}
.footer .sitemap {
  padding: 30px 0 0 0;
  border-top: 1px solid rgba(255, 255, 255, 0.07);
}
.footer .sitemap .column {
  float: left;
  padding-bottom: 30px;
  width: 20%;
}
.footer .sitemap .column h3 {
  margin: 0 0 20px 0;
  line-height: 20px;
  font-size: 17px;
  text-transform: uppercase;
}
.footer .sitemap .column h3 a {
  color: rgba(255, 255, 255, 0.7);
}
.footer .sitemap .column h3 a:hover {
  color: #ffffff;
  text-decoration: none;
}
.footer .sitemap .column ul {
  margin: 0;
  padding: 0;
  font-size: 13px;
  list-style-type: none;
}
.footer .sitemap .column ul li {
  margin: 0;
  line-height: 25px;
}
.footer .sitemap .column ul li a {
  display: inline-block;
  color: rgba(255, 255, 255, 0.3);
}
.footer .sitemap .column ul li a:hover {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}
.footer .copyright {
  padding: 30px 0 0 0;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.15);
  border-top: 1px solid rgba(255, 255, 255, 0.07);
  text-transform: uppercase;
}
.footer .copyright span,
.footer .copyright a {
  margin: 0 10px 0 0;
}
.footer .copyright a {
  color: rgba(255, 255, 255, 0.3);
}
.footer .copyright a:hover {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}
.footer .shop-logo {
  margin: 20px 0;
}
.footer .shop-logo a {
  -webkit-transition: text-shadow 0.4s;
  -moz-transition: text-shadow 0.4s;
  -o-transition: text-shadow 0.4s;
  transition: text-shadow 0.4s;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Blizzard";
  font-size: 23px;
  font-weight: 300;
}
.footer .shop-logo a:hover {
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.3), 0 0 15px rgba(255, 255, 255, 0.3);
}
/* Pages */
.page > .row {
  margin: 0 auto;
}
.page .main {
  margin: 0;
  padding: 0 0 0 7px;
}
.page .main > h3 {
  color: #ffffff;
  font-weight: 300;
}
.products {
  margin: 0 -10px;
}
.products > .item {
  margin: 0 0 40px 0;
  padding: 0 10px;
  max-height: 220px;
}
.products > .item > a {
  display: block;
  position: relative;
  border: solid 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
  background-color: rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.2s ease-in-out;
}
.products > .item > a:hover {
  text-decoration: none;
}
.products > .item > a > .cover {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border: solid 1px rgba(255, 255, 255, 0.15);
  background-color: rgba(255, 255, 255, 0);
  z-index: 100;
}
.products > .item:hover > a > .cover {
  border: solid 1px rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.04);
}
.products .item .thumbnail {
  margin-bottom: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  background: transparent;
}
.products .item .thumbnail img {
  width: 203px;
  height: 114px;
}
.products .item .thumbnail .caption {
  padding: 0;
}
.products .item .thumbnail .caption h3,
.products > .item .thumbnail .caption p {
  margin: 10px 10px 5px 10px;
}
.products .item .thumbnail .caption h3 {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.7);
  height: 50px;
  overflow: hidden;
}
.products .item .thumbnail .caption p {
  color: #12b4ff;
  font-size: 16px;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
}
.crossfade {
  margin-bottom: 40px;
  width: 870px;
  height: 312px;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
  border: 1px solid #000;
}
.crossfade .carousel-inner {
  margin: 0;
  padding: 0;
  background-color: #000;
  width: 100%;
}
.crossfade .carousel-inner .cover {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255, 0);
  transition: background-color 0.2s;
}
.crossfade:hover .cover {
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2);
}
.crossfade:hover .carousel-controls {
  opacity: 1;
}
.crossfade .carousel-controls {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 100;
  width: 51px;
  height: 26px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  opacity: 0;
  transition: opacity .2s;
  background-color: rgba(0, 0, 0, 0.2);
}
.crossfade .carousel-controls button {
  position: absolute;
  top: 0;
  border: 0;
  width: 26px;
  height: 26px;
  background: url('/images/sprite-carousel-control.png') no-repeat;
}
.crossfade .carousel-controls .left {
  left: 0;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  background-position: -6px -27px;
}
.crossfade .carousel-controls .left:hover {
  border: 0;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}
.crossfade .carousel-controls .right {
  left: 25px;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  background-position: -45px -27px;
}
.crossfade .carousel-controls .right:hover {
  border: 0;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}
.crossfade .carousel-controls button:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
.home-page {
  padding-top: 50px;
}
.category-page {
  padding-top: 90px;
}
.games-page {
  padding-top: 180px;
}
.detail-page .logo-family {
  height: 210px;
}
.detail-page .logo-family > img {
  display: inline;
  margin-top: -8px;
  margin-left: -50px;
}
.buybox {
  line-height: 20px;
}
.buybox .expansion-slug {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.8);
}
.buybox .product-title-and-type h1 {
  margin: 0;
  padding: 0;
  font-size: 35px;
  font-weight: 300;
  line-height: 40px;
  color: #ffffff;
}
.buybox .product-title-and-type small {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
}
.buybox .product-selection {
  padding: 30px 0 20px 0;
}
.buybox .product-selection .radio {
  display: block;
  position: relative;
  margin: 0 0 10px 0;
  padding-left: 40px;
  line-height: 45px;
  overflow: hidden;
  font-size: 13px;
  font-weight: 400;
}
.buybox .product-selection .radio .input-radio {
  display: block;
  position: absolute;
  top: 15px;
  left: 10px;
}
.buybox .product-selection .radio .product-price {
  display: inline-block;
  font-size: 35px;
  font-weight: 300;
}
.buybox .product-selection .radio .product-price .currency-code {
  font-size: 22px;
}
.buybox .product-selection .radio .product-edition {
  display: inline-block;
  margin: 0;
  padding: 0 10px 0 7px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 16px;
}
.buybox .product-selection .radio .product-dde-offer {
  display: table;
  max-width: 460px;
  line-height: 20px;
}
.buybox .product-selection .radio .product-dde-offer span {
  display: table-cell;
  color: rgba(255, 255, 255, 0.5);
  font-style: italic;
}
.buybox .product-selection .radio.is-checked {
  color: #fff;
}
.buybox .product-requirements {
  margin: 30px 0 20px 0;
  color: rgba(255, 255, 255, 0.3);
}
.buybox .product-requirements ul {
  padding-left: 20px;
}
.buybox .product-selection .radio:hover .input-radio {
  border-color: rgba(255, 255, 255, 0.2);
}
.product-media {
  padding-right: 0;
}
.product-media .single-media {
  float: right;
  margin: 0 auto;
  padding: 0;
  width: 570px;
  height: 320px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}
.product-media .single-media .video-thumbnail {
  position: relative;
}
.product-media .single-media .video-thumbnail img {
  width: 570px;
  height: 320px;
  cursor: pointer;
}
.product-media .single-media .img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(255, 255, 255, 0.15);
  background: url("/images/play-big.png") no-repeat center center;
  cursor: pointer;
}
.product-media .single-media .img-overlay:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.product-panel {
  background: transparent;
}
.product-panel .panel-heading {
  margin: 0;
  padding: 0;
}
.product-panel .panel-heading h2 {
  margin: 40px 0 30px 0;
  padding: 0;
  font-size: 40px;
  color: #FFF;
}
.product-panel .panel-body {
  margin: 0;
  padding: 0;
}
.product-panel .product-features-description {
  padding-bottom: 40px;
  font-size: 15px;
  width: 60%;
}
.product-panel .panel-body .thumbnail {
  border: none;
  border-radius: 0;
  background: transparent;
}
.product-panel .panel-body .thumbnail img {
  border: 1px solid rgba(255, 255, 255, 0.4);
}
.product-panel .panel-body .thumbnail .caption h3 {
  color: #ffffff;
}
.product-panel .panel-body .thumbnail .caption p {
  color: rgba(255, 255, 255, 0.7);
}
.product-detail {
  margin-bottom: 60px;
}
.product-detail .panel-body h4 {
  color: #FFF;
}
.product-detail .panel-body .product-specs-list {
  padding-left: 18px;
}
.product-rating .esrb-descriptor {
  display: block;
  margin-left: 80px;
}
.product-rating .esrb-logo {
  display: block;
  float: left;
}
.cart-page {
  padding-top: 70px;
}
.cart {
  margin: 0 0 60px 0;
  padding: 10px 10px 0 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
  background: rgba(0, 0, 0, 0.5);
}
.cart > h2 {
  margin: 5px 15px 15px 15px;
  color: #ffffff;
  font-weight: 300;
}
.cart .list {
  margin: 0 15px;
}
.cart .list .item {
  padding: 10px 0 15px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.3);
}
.cart .list .item .item-logo {
  display: block;
  float: left;
  position: relative;
  padding-top: 15px;
  width: 220px;
}
.cart .list .item .item-logo .img-overlay {
  display: block;
  position: absolute;
  width: 203px;
  height: 114px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  background: transparent;
}
.cart .list .item .item-logo img {
  width: 203px;
  height: 114px;
}
.cart .list .item .item-info {
  display: block;
  float: right;
  margin: 10px 0;
  width: 580px;
}
.cart .list .item .item-info .item-head {
  margin-bottom: 0;
  color: #ffffff;
  height: 28px;
}
.cart .list .item .item-info .item-head > dt {
  height: 0px;
}
.cart .list .item .item-info .item-head > dd {
  float: left;
  line-height: 20px;
}
.cart .list .item .item-info .item-head > dd > h4 {
  margin: 0;
  padding: 0;
  font-weight: 300;
}
.cart .list .item .item-info .item-head > dd.title {
  width: 360px;
}
.cart .list .item .item-info .item-head > dd.price {
  color: rgba(255, 255, 255, 0.5);
}
.cart .list .item .item-info .item-head > dd.count {
  margin-left: 40px;
}
.cart .list .item .item-info .item-head > dd.count > input {
  width: 50px;
  text-align: right;
  line-height: 18px;
}
.cart .list .item .item-info .item-head > dd.total {
  float: right;
  font-size: 18px;
  font-weight: 400;
}
.cart .list .item .item-info .item-body {
  padding-top: 8px;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}
.cart .list .item .item-info .item-body > div > p {
  margin-bottom: 0;
}
.cart .list .item .item-info .item-body .pull-left {
  width: 55%;
}
.cart .list .item .item-info .item-body .pull-right {
  width: 40%;
  text-align: right;
}
.cart .list .item .item-info .item-body .des {
  height: 45px;
  line-height: 20px;
}
.cart .list .item .item-info .item-body .gift {
  margin-top: 10px;
  width: 500px;
  height: 30px;
}
.cart .list .item .item-info .item-body .actions a,
.cart .list .item .item-info .item-body .actions span {
  display: inline-block;
  line-height: 20px;
}
.cart .list .item .item-info .item-body .actions a {
  margin-left: 10px;
}
.cart .cart-info {
  margin: 9px 15px 15px 15px;
  padding-top: 12px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.cart .cart-info .pull-left {
  width: 50%;
}
.cart .cart-info .pull-right {
  width: 200px;
}
.cart .cart-info .pull-right dl {
  margin-bottom: 5px;
  height: 20px;
}
.cart .cart-info .pull-right dl dt,
.cart .cart-info .pull-right dl dd {
  line-height: 20px;
  text-align: right;
}
.cart .cart-info .pull-right dl dt {
  float: left;
  width: 120px;
  font-weight: 300;
}
.cart .cart-info .pull-right dl dd {
  float: right;
  width: 80px;
}
.cart .cart-info .pull-right dl.total {
  padding-top: 7px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.cart .cart-info .pull-right dl.total dt,
.cart .cart-info .pull-right dl.total dd {
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
}
.cart .cart-info .pull-right dl.total dt {
  width: 110px;
}
.cart .cart-info .pull-right dl.total dd {
  width: 90px;
}
.cart .cart-actions {
  margin: 0 -10px;
  padding: 15px 25px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
