
body { margin: 0 auto; padding: 0; font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; color: #333;}
a{ text-decoration: none;}
a:hover{ text-decoration: underline;}
h3{ margin: 0;}

input{ border: solid 1px #AFAFAF; border-right-color: #797979; border-bottom-color: #797979;}

header,.container{ margin: 0 auto; width: 960px;}

body > header > nav{ line-height: 25px; color: #CCC; border-bottom: solid 1px #BCBCBC;}

.clear{ clear: both; height: 0; overflow: hidden;}
.line1{ margin: 5px 0 5px 0; border-top:solid 1px #CCC; height: 0; overflow: hidden;}

.btn{ min-width: 120px; line-height: 25px; border:solid 0px #CCC;}
.btn-primary{ background-color: #0066CC; color: #FFF;}
.btn-orange{ background-color: #FF6600; color: #FFF;}
.btn-cancel{ background-color: #999999; color: #FFF;}

.box1, .box2{ padding: 15px; border: solid 1px #ccc;}

.container{ padding-top: 30px;}
.container > .categories{ float: left; width: 168px;}
.container > .product_list{ margin-left: 230px;}

.categories > ul{ margin: 15px 0 0 0; padding-left: 0px;}
.categories > ul >  li{ display: block; padding-left: 10px; line-height: 22px;}

.product_list{}
.product_list > h3{ margin-bottom: 10px;}
.product_list > dl{ float: left; margin: 0 20px 20px 0; padding:10px; width: 190px; border: solid 1px #CCC; }
.product_list > dl > dt{ margin: 0;  line-height: 25px; font-weight: bold;}
.product_list > dl > dd{ margin: 0;  line-height: 22px;}