<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator"/>

    <conversionRule conversionWord="clr" converterClass="com.junbo.apphost.core.logging.ColorConverter"/>
    <conversionRule conversionWord="wex" converterClass="com.junbo.apphost.core.logging.WhitespaceThrowableProxyConverter"/>

    <property name="CONSOLE_LOG_PATTERN" value="%clr(%d{[yyyy-MM-dd HH:mm:ss.SSS Z]}){bold} %clr(%5p) %clr(${PID:- }){magenta} %clr([%15.15t{14}]){bold} %clr([%36.36X{oculus-request-id:- }]){bold} %clr(---){bold} %clr(%-40.40logger{39}){cyan} %clr(:){bold} %m%n%wex"/>
    <property name="FILE_LOG_PATTERN" value="%d{[yyyy-MM-dd HH:mm:ss.SSS Z]} %5p ${PID:- } [%15.15t{14}] [%36.36X{oculus-request-id:- }] --- %-40.40logger{39} : %m%n%wex"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="CONSOLE_ASYNC" class="com.junbo.apphost.core.logging.RealAsyncAppender">
        <appender-ref ref="CONSOLE"/>
    </appender>

    <appender name="NEW_RELIC" class="com.junbo.common.logappender.NewRelicAppender">
    </appender>

    <appender name="NEW_RELIC_ASYNC" class="com.junbo.apphost.core.logging.RealAsyncAppender">
        <appender-ref ref="NEW_RELIC"/>
    </appender>

    <appender name="MAIN" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logDir}/main.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logDir}/main.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 100MB -->
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="MAIN_ASYNC" class="com.junbo.apphost.core.logging.RealAsyncAppender">
        <appender-ref ref="MAIN"/>
    </appender>


    <appender name="ALERT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logDir}/alert.log</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logDir}/alert.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>5</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 100MB -->
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="ALERT_ASYNC" class="com.junbo.apphost.core.logging.RealAsyncAppender">
        <appender-ref ref="ALERT"/>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE_ASYNC"/>
        <appender-ref ref="MAIN_ASYNC"/>
        <appender-ref ref="ALERT_ASYNC"/>
        <appender-ref ref="NEW_RELIC_ASYNC" />
    </root>

    <logger name="org.glassfish.grizzly.http.server.HttpHandlerChain" level="DEBUG" />

    <!-- ACCESS LOG -->
    <property name="CONSOLE_ACCESS_LOG_PATTERN" value="%m %clr([%8.8X{X-Request-Id:- }]){bold}%n"/>
    <property name="FILE_ACCESS_LOG_PATTERN" value="%m [%8.8X{X-Request-Id:- }]%n"/>

    <appender name="CONSOLE_ACCESS_LOG" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_ACCESS_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="CONSOLE_ASYNC_ACCESS_LOG" class="com.junbo.apphost.core.logging.RealAsyncAppender">
        <appender-ref ref="CONSOLE_ACCESS_LOG"/>
    </appender>

    <appender name="FILE_ACCESS_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logDir}/httpd.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logDir}/alert.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>10</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 100MB -->
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>${FILE_ACCESS_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="FILE_ASYNC_ACCESS_LOG" class="com.junbo.apphost.core.logging.RealAsyncAppender">
        <appender-ref ref="FILE_ACCESS_LOG"/>
    </appender>

    <logger name="com.junbo.apphost.core.logging.AccessLogProbe" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE_ASYNC_ACCESS_LOG"/>
        <appender-ref ref="FILE_ASYNC_ACCESS_LOG"/>
    </logger>


</configuration>
