<h1>Offer detail</h1>
<form novalidate="novalidate" class="form-horizontal">
    <table class="table table-bordered vertical-table">
        <tr>
            <td>Offer Id</td>
            <td>{{ offer.self.id }}</td>
        </tr>
        <tr>
            <td>Offer Name</td>
            <td><input type="text" class="form-control required" ng-model="offer.name"></td>
        </tr>
        <tr>
            <td>Status</td>
            <td><input type="text" class="form-control required" ng-model="offer.status"></td>
        </tr>
        <tr>
            <td>Type</td>
            <td>{{ offer.type }}</td>
        </tr>
        <tr>
            <td>Owner</td>
            <td>{{ offer.ownerId.id }}</td>
        </tr>
    </table>

    <div class="control-group">
        <div class="controls">
            <a ng-click="cancel()" class="btn btn-small">Cancel</a>
            <a ng-click="updateOffer()" class="btn btn-small btn-primary">Save</a>
        </div>
    </div>
</form>