<div class="container account">
    <%- include sidebar%>

    <div class="content">
        <section class="box1 settings">
            <h2>Account Setting</h2>
            <dl>
                <dt>Password</dt>
                <dd><input type="password"></dd>
            </dl>
            <dl>
                <dt>Confirm Password</dt>
                <dd><input type="password"></dd>
            </dl>
            <div class="actions">
                <button type="submit" class="btn btn-primary">Save Changes</button>
                <button type="button" class="btn btn-cancel">Cancel</button>
            </div>
        </section>
    </div>
    <div class="clear"></div>
</div>