<div class="content">
    <form class="box1 settings" {{action "SaveChanges" on="submit"}}>
        <h2>Account Setting</h2>

        <dl>
            <dt>First Name</dt>
            <dd>{{input type="text" class="{maxlength:20}" id="FistName" name="firstname" value=content.firstName}}</dd>
        </dl>
        <dl>
            <dt>Last Name</dt>
            <dd>{{input type="text" class="{maxlength:20}" id="LastName" name="lastname" value=content.lastName}}</dd>
        </dl>
        <dl class="agreement">
            <dt>Email Opt-Ins</dt>
            <dd><label>{{input type="checkbox" id="IsOptInPromotion" name="isOptInPromotion" checked=content.isOptInPromotion value="promotion"}}<span>Let me know of any promotion deals regarding Store Products.</span></label></dd>
            <dd><label>{{input type="checkbox" id="IsOptInNewsWeekly" name="isOptInNewsWeekly" checked=content.isOptInNewsWeekly value="newsweekly"}}<span>Keep me up to date with the latest Store News(Weekly).</span></label></dd>
        </dl>
        <div class="actions">
            <button id="BtnSaveSetting" type="submit" class="btn btn-primary">Save Changes</button>
            <button type="button" class="btn btn-cancel" {{action "Cancel"}}>Cancel</button>
        </div>
    </form>
</div>
<div class="clear"></div>