<div class="container account">
    <%- include sidebar%>

    <div class="content">
        <section class="box1 settings">
            <h2>Account Setting</h2>

            <dl>
                <dt>First Name</dt>
                <dd><input type="text"></dd>
            </dl>
            <dl>
                <dt>Last  Name</dt>
                <dd><input type="text"></dd>
            </dl>
            <dl>
                <dt>Email Address</dt>
                <dd><input type="text"></dd>
            </dl>
            <dl>
                <dt>Phone Number</dt>
                <dd><input type="text"></dd>
            </dl>
            <dl class="agreement">
                <dt>Email Opt-Ins</dt>
                <dd><label><input type="checkbox"><span>Let me know of any promotion deals regarding Store Products.</span></label></dd>
                <dd><label><input type="checkbox"><span>Keep me up to date with the latest Store News(Weekly).</span></label></dd>
                <dd><label><input type="checkbox"><span>Send me updates on the latest Store Deals for Games, Apps, and Experiences.</span></label></dd>
            </dl>
            <div class="actions">
                <button type="submit" class="btn btn-primary">Save Changes</button>
                <button type="button" class="btn btn-cancel">Cancel</button>
            </div>
        </section>
    </div>
    <div class="clear"></div>
</div>