<div class="content">
    <form id="ChangePassword" class="box1 settings" {{action "SaveChanges" on="submit"}}>
        <h2>Account Setting</h2>
        {{#if errMessage}}
            <p class="error">{{errMessage}}</p>
        {{/if}}
        <dl>
            <dt>Password</dt>
            <dd>{{input type="password" class="{required:true,maxlength:20}" name="Password" id="Password" value=content.password}}</dd>
        </dl>
        <dl>
            <dt>Confirm Password</dt>
            <dd>{{input type="password" class="{required:true,equalTo:'#Password'}" id="ConfirmPassword"}}</dd>
        </dl>
        <div class="actions">
            <button type="submit" class="btn btn-primary">Save Changes</button>
            <button type="button" class="btn btn-cancel" {{action "Cancel"}}>Cancel</button>
        </div>
    </form>
</div>
<div class="clear"></div>