<div class="content history">
    <h2>Purchase History</h2>

    {{#each orders itemController="AccountHistoryItem"}}
    <div class="item">
        <dl class="header">
            <dt>{{createdTime}}</dt>
            <dt>{{self.id}}</dt>
            <dt>{{totalAmount}}</dt>
        </dl>
        <div class="detail">
            {{#each orderItems itemController="AccountHistoryItemProducts"}}
            <dl class="product">
                {{downloadLinksObserver}}
                <dt>{{product.name}}
                {{#if downloadLinks}}
                    &nbsp;&nbsp;<label class="download">Download
                        <ul>
                        {{#each downloadLinks}}
                            <li><a {{bind-attr href=link}} target="_blank">{{name}}</a></li>
                        {{/each}}
                        </ul>
                    </label>
                {{/if}}
                </dt>
                <dd>{{unitPrice}}</dd>
                <dd>{{quantity}}</dd>
                <dd>{{totalAmount}}</dd>

            </dl>
            {{/each}}
            <div class="total_info">
                <div class="money">
                    <dl>
                        <dt>Subtotal:</dt>
                        <dd>$ {{subTotal}}</dd>
                    </dl>
                    <dl>
                        <dt>Discount:</dt>
                        <dd>$ {{totalDiscount}}</dd>
                    </dl>
                    <dl>
                        <dt>Shipping:</dt>
                        <dd>$ {{totalShippingFee}}</dd>
                    </dl>
                    <dl>
                        <dt>Shipping Discount:</dt>
                        <dd>$ {{totalShippingFeeDiscount}}</dd>
                    </dl>
                    <dl>
                        <dt>Tax:</dt>
                        <dd>$ {{totalTax}}</dd>
                    </dl>
                    <dl class="total">
                        <dt>Order Total:</dt>
                        <dd>$ {{totalAmount}}</dd>
                    </dl>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    {{/each}}
</div>