<div class="container account">
    <%- include sidebar%>

    <div class="content">
        <div class="box1 settings">
            <h2>Account Settings</h2>
            <dl>
                <dt>About Me<button type="button" class="btn btn-primary">Edit</button></dt>
            </dl>
            <dl>
                <dt>Social Media</dt>
            </dl>
        </div>
    </div>
    <div class="clear"></div>
</div>