<div class="content">
    <div class="box1 settings">
        <h2>Account Settings</h2>
        <dl>
            <dt>Name
                {{#link-to "account.editinfo" class="btn btn-primary"}}Edit{{/link-to}}
            </dt>
            <dd>{{content.firstName}} {{content.lastName}}</dd>
        </dl>
        <dl>
            <dt>Password
                {{#link-to "account.editpassword" class="btn btn-primary"}}Edit{{/link-to}}
                </dt>
            <dd>******</dd>
        </dl>
        <dl>
            <dt>Email Opt-In</dt>
            <dd>Deals, Promotions, News</dd>
        </dl>
    </div>
</div>
<div class="clear"></div>
