<div class="content">
    <div class="box1 settings">
        <h2>Account Settings</h2>
        <dl>
            <dt>Name
                <button type="button" class="btn btn-primary">Edit</button>
            </dt>
            <dd>John Doe</dd>
        </dl>
        <dl>
            <dt>Email Address</dt>
            <dd>johndoe@gmail.com</dd>
        </dl>
        <dl>
            <dt>Password</dt>
            <dd>******</dd>
        </dl>
        <dl>
            <dt>Phone Number</dt>
            <dd>123-456-7890</dd>
        </dl>
        <dl>
            <dt>Email Opt-In</dt>
            <dd>Deals, Promotions, News</dd>
        </dl>
        <dl>
            <dt>Shipping Address
                <button type="button" class="btn btn-primary">Edit</button>
            </dt>
            <dd>17421 Magnolia Blvd. Long Beach CA, 93156</dd>
        </dl>
    </div>
</div>
<div class="clear"></div>
