
<nav class="box1 sidebar">
    <h2>Your Account</h2>
    <h3>Account Settings</h3>
    <dl>
        <dt>{{#link-to "account.index"}}Change Account Settings{{/link-to}}</dt>
        <dd>(Name,Password,and Parental info)</dd>
    </dl>
    <dl>
        <dt>{{#link-to "account.history"}}Purchase History{{/link-to}}</dt>
        <dd></dd>
    </dl>
    <div class="line1"></div>
    <h3>Payment Methods</h3>
    <dl>
        <dt>{{#link-to "account.payment" }}Manage Payment Options{{/link-to}}</dt>
        <dd>(Add/Delete Payments)</dd>
    </dl>
    <div class="line1"></div>
    <h3>Shipping Address</h3>
    <dl>
        <dt>{{#link-to "account.payment" }}Manage Shipping Address Options{{/link-to}}</dt>
        <dd>(Add/Delete Shipping Address)</dd>
    </dl>
</nav>