/* LESS */
/* font colors */
/* border colors */
.bc_primary {
  border-color: #4cae4c;
}
/* background colors */
.bg_error {
  background-color: #d58512;
}
.bg_primary {
  background-color: #5cb85c;
}
.bg_section {
  background-color: #FAFBFB;
}
/* font */
.dt_color {
  color: #898f9c;
}
.panel_title {
  font-size: 13px;
  color: #777777;
  font-weight: bold;
}
/* border */
.b_bottom {
  border-bottom: 1px solid #E9EAED;
}
/* End LESS */
/* Global */
body {
  margin: 0 auto;
  font: 11px 'lucida grande', tahoma, verdana, arial, sans-serif;
  color: #333333;
  background-color: #e9eaed;
}
a {
  color: #3b5998;
}
a:hover {
  text-decoration: underline;
}
/* Public Controls */
.line1 {
  height: 1px;
  background-color: #dddddd;
}
.top-navbar {
  border-radius: 0px;
  border: none;
  border-bottom: solid 1px #cccccc;
  background-color: #ffffff;
}
.panel-csr {
  border-radius: 0px;
  border-color: #d0d1d5;
}
.panel-csr .navbar-nav.navbar-right:last-child {
  margin: 0;
}
.panel-csr .navbar-nav > li > a {
  padding: 0px;
  margin: 0px;
  line-height: 16px;
}
.panel-csr > .panel-heading {
  padding: 10px 10px 0 10px;
  min-height: 35px;
  background-color: #f6f7f8;
}
.panel-csr > .panel-heading > h3 {
  float: left;
  font-size: 13px;
  color: #777777;
  font-weight: bold;
}
.panel-csr > .panel-body {
  position: relative;
  padding: 10px;
  min-height: 200px;
}
.panel-filter {
  display: none;
  margin: -10px -10px 0 -10px;
  padding: 10px;
  min-height: 50px;
  border-bottom: 1px solid #E9EAED;
  background-color: #FAFBFB;
}
.panel-filter > p:last-child {
  margin-bottom: 0;
}
.panel-filter > p .btn {
  display: inline-block;
  line-height: 18px;
  vertical-align: top;
}
.panel-loading {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.07) url("/images/loading.gif") no-repeat center center;
  z-index: 999;
}
.panel-error {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0;
  bottom: 0;
  color: #ffffff;
  background-color: #d58512;
  z-index: 999;
}
.panel-error h4,
.panel-error p {
  margin: 20px 0 0 20px;
}
.panel-list .item {
  padding: 5px 0;
  line-height: 18px;
  border-bottom: 1px solid #E9EAED;
}
.panel-list .item:last-child {
  border: none;
}
.panel-list .item h4 {
  margin: 0 0 5px 0;
  font-size: 11px;
  line-height: 20px;
  font-weight: bold;
}
.panel-list .item h4 label {
  display: inline-block;
  padding: 0 2px;
  color: #ffffff;
  border: 1px solid;
  border-radius: 2px;
  border-color: #4cae4c;
  background-color: #5cb85c;
}
.panel-list .item label {
  margin-right: 10px;
  font-weight: normal;
}
.panel-list .item label span {
  color: #808080;
}
.panel-list .item .btns {
  display: none;
  float: right;
}
.panel-list .item:hover .btns {
  display: block;
}
.form-group label {
  font-weight: bold;
  color: #999;
}
.form-group label.error {
  font-weight: normal;
  color: #F00;
  line-height: 22px;
}
/* Layout */
.sidebar {
  position: fixed;
}
.user-info dl dt {
  color: #898f9c;
}
.lookup {
  padding-top: 30px;
}
.lookup .panel-csr {
  float: none;
  margin: 0 auto;
}
