html, body {
    margin: 20px;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

/*.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}*/

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.select:hover {
    cursor: pointer;
}

.borderless td {
    border-top: 0 !important;
}

.chooseItem {
    margin:0px 5px 0px 10px !important;
}

input.ng-invalid {
    border: 1px solid red;
}

select.ng-invalid {
    border: 1px solid red;
}

/*h2 {text-align:center;}*/

.box {
    margin-left: 0;
    margin-right: 0;
    background-color: #fff;
    border-width: 1px;
    border-color: #ddd;
    border-radius: 4px 4px 0 0;
    box-shadow: none;

    position: relative;
    padding: 45px 15px 15px;
    margin: 0 -15px 15px;
    border-style: solid;
}

.box:after{
    content:"Oculus Developer Catalog";
    position:absolute;
    top:15px;
    left:15px;
    font-size:14px;
    font-weight:700;
    color:#bbb;
    text-transform:uppercase;
    letter-spacing:1px
}