
<nav class="box1 sidebar">
    <h2>Developer Account</h2>
    <h3>Manage</h3>
    <dl>
        <dt><a href="<%=CatalogManageOffersUrl%>">Manage Offers</a></dt>
        <dd>(Create/Edit/Delete Offers)</dd>
    </dl>
</nav>