
<nav class="box1 sidebar">
    <h2>Developer Account</h2>
    <h3>Manage</h3>
    <dl>
        <dt><a href="<%=CatalogManageOffersUrl%>">Submit App to Oculus Share</a></dt>
        <dd></dd>
    </dl>
</nav>