<div class="container page category-page">
    <div class="row">
        <div class="col-md-3 sidebar">
            <h1 class="side-head-title">Mounts</h1>
            <%include warpers/Filters_Category%>
        </div>
        <div class="col-md-9 main">
            <h3>Games</h3>
            <dl class="row products">
                <dd class="col-sm-6 col-md-3 item">
                    <a href="#">
                        <div class="cover"></div>
                        <div class="thumbnail">
                            <img src="/images/P1.jpg">
                            <div class="caption">
                                <h3>Thumbnail label label</h3>
                                <p>$ 49.50</p>
                            </div>
                        </div>
                    </a>
                </dd>

                <dd class="col-sm-6 col-md-3 item">
                    <a href="#">
                        <div class="cover"></div>
                        <div class="thumbnail">
                            <img src="/images/P2.jpg">
                            <div class="caption">
                                <h3>Thumbnail label label</h3>
                                <p>$ 49.50</p>
                            </div>
                        </div>
                    </a>
                </dd>
                <dd class="col-sm-6 col-md-3 item">
                    <a href="#">
                        <div class="cover"></div>
                        <div class="thumbnail">
                            <img src="/images/P1.jpg">
                            <div class="caption">
                                <h3>Thumbnail label label</h3>
                                <p>$ 49.50</p>
                            </div>
                        </div>
                    </a>
                </dd>
            </dl>


            <h3>Subscriptions</h3>
            <dl class="row products">
                <dd class="col-sm-6 col-md-3 item">
                    <a href="#">
                        <div class="cover"></div>
                        <div class="thumbnail">
                            <img src="/images/P1.jpg">
                            <div class="caption">
                                <h3>Thumbnail label label</h3>
                                <p>$ 49.50</p>
                            </div>
                        </div>
                    </a>
                </dd>

                <dd class="col-sm-6 col-md-3 item">
                    <a href="#">
                        <div class="cover"></div>
                        <div class="thumbnail">
                            <img src="/images/P2.jpg">
                            <div class="caption">
                                <h3>Thumbnail label label</h3>
                                <p>$ 49.50</p>
                            </div>
                        </div>
                    </a>
                </dd>
                <dd class="col-sm-6 col-md-3 item">
                    <a href="#">
                        <div class="cover"></div>
                        <div class="thumbnail">
                            <img src="/images/P1.jpg">
                            <div class="caption">
                                <h3>Thumbnail label label</h3>
                                <p>$ 49.50</p>
                            </div>
                        </div>
                    </a>
                </dd>
            </dl>
        </div>
        <div class="clearfix"></div>
    </div>
</div>