<div class="container page detail-page">
    <div class="row logo-family">
        <img src="/images/logo-family-2.png">
    </div>
    <div class="row">
        <div class="col-md-6 buybox">

            <div class="expansion-slug">Expansion Set</div>
            <div class="product-title-and-type">
                <h1>StarCraft® II:<br />Heart of the Swarm® </h1>
                <small>Digital Download</small>
            </div>

            <section class="product-selection">
                <label class="radio is-checked">
                    <span class="input-radio checked"><input type="radio" name="productId" value="11000023361000003023" tabindex="1" checked="checked"/></span>
                    <span class="product-price">
                        <span class="currency-code">USD</span>&nbsp;39.99
                    </span>
                    <span class="product-edition">Standard Edition</span>
                </label>

                <label class="radio">
                    <span class="input-radio"><input type="radio" name="productId" value="11000023361000003024" tabindex="1" /></span>
                    <span class="product-price ">
                        <span class="currency-code">USD</span>&nbsp;59.99
                    </span>
                    <span class="product-edition">Digital Deluxe Edition</span>
                    <a href="#deluxe" class="product-learn-more">Learn More</a>
                    <span class="product-dde-offer"><sup>∗</sup>
                        <span>If you already own the standard edition, you can buy the Digital Deluxe content for a reduced price (will display at checkout).</span>
                    </span>
                </label>
            </section>

            <section class="product-actions">
                <a href="#" tabindex="1" class="btn btn-large btn-primary">Buy Now</a>
                <a href="#" tabindex="1" class="btn btn-large btn-default">Gift</a>
                <a href="#" target="_blank" tabindex="1" class="btn btn-large btn-default">Try</a>
                <div class="clearfix"></div>
            </section>

            <section class="product-requirements">
                <ul>
                    <li><span title="" data-original-title="This is a global game. Players can choose to play on game servers based in a variety of regions, regardless of what region they are connecting from. Supported regions will be listed in your game client. Some restrictions may apply.">Play in any game region <i class="icon-question-circle icon-blue"></i></span></li>
                    <li><a href="#" target="_blank">Requires StarCraft II: Wings of Liberty</a></li>
                    <li><span title="" data-original-title="Internet connection permanently required for the multiplayer mode and periodically for the single player mode.">Internet Connection Required <i class="icon-question-circle icon-blue"></i></span></li>
                    <li>Battle.net registration required</li>
                    <li><a href="#techspecs">Product details</a></li>
                </ul>
            </section>

        </div>
        <div class="col-md-6 product-media">
            <div class="single-media">

                <div class="video-thumbnail" data-video-inline="inline" data-video-id="MVbeoSPqRs4" data-video-target="productVideoFrame">
                    <img src="/images/0.jpg" alt="" />
                    <div class="img-overlay"></div>
                </div>

                <div class="video-player" id="productVideoFrame"></div>
            </div>
        </div>
    </div>


    <div class="panel product-panel product-features">
        <div class="panel-heading">
            <h2>Welcome to the Hive Mind</h2>
        </div>
        <div class="panel-body">
            <p class="product-features-description">The zerg have scattered in the wake of the all-out Terran invasion of the hive planet Char, but many broods still survive. Teeming across countless worlds, they search for a queen strong enough to reunite the Swarm. This Digital Deluxe edition includes a full digital copy of Heart of the Swarm, as well as the following in-game content.</p>
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="/images/ad_1.jpg" />
                        <div class="caption">
                            <h3>Command New Weapons of War</h3>
                            <p>Deploy seven devastating new units across an ever-shifting battlefield. Incinerate advancing foes with the Hellbat, seize air superiority with the Tempest, engulf entrenched enemies with the Swarm Host, and much more.</p>

                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="/images/ad_2.jpg">
                        <div class="caption">
                            <h3>Join the Global Battle</h3>
                            <p>Experience the next evolution of StarCraft II’s global community on Battle.net. Join co-op games with friends, play countless mods, maps, and missions in the Arcade, and marshal your forces across ranked and unranked brackets for every level of play.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="/images/ad_3.jpg">
                        <div class="caption">
                            <h3>Unleash Hell</h3>
                            <p>Lead Sarah Kerrigan as she embarks on a path of furious vengeance in a brand new campaign centered around the Zerg. Unlock Kerrigan’s powers in 20 new missions, and swarm from planet to planet aboard your moon-sized zerg Leviathan.</p>

                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="/images/ad_4.jpg">
                        <div class="caption">
                            <h3>Adapt and Destroy</h3>
                            <p>Special “Evolution” missions allow you to evolve your brood for maximum devastation. You will choose how the Zerg should adapt to best conquer all in their path.</p>

                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="/images/ad_5.jpg">
                        <div class="caption">
                            <h3>Discover More of the StarCraft Universe</h3>
                            <p>Visit iconic locations such as the magma and ash-covered planet Char and the jungles of Zerus, birthworld of the Zerg. You’ll meet an array of colorful characters, both new and familiar, as you restore the Swarm to its rightful place in the galaxy.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel product-panel">
        <div class="panel-heading">
            <h2>Digital Deluxe Edition</h2>
        </div>
        <div class="panel-body">
            <p class="product-features-description">The zerg have scattered in the wake of the all-out Terran invasion of the hive planet Char, but many broods still survive. Teeming across countless worlds, they search for a queen strong enough to reunite the Swarm. This Digital Deluxe edition includes a full digital copy of Heart of the Swarm, as well as the following in-game content.</p>
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="/images/ad_6.jpg" />
                        <div class="caption">
                            <h3>Torrasque Ultralisk Skin, 3 Portraits, and 3 Decals in StarCraft II</h3>
                            <p>Crush your enemies beneath the indomitable Torrasque, a fearsome new look for your zerg Ultralisks, and unlock six unique Swarm-infested portraits and decals.</p>

                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="/images/ad_7.jpg">
                        <div class="caption">
                            <h3>Baneling Pet in World of Warcraft</h3>
                            <p>Experience your corrosive new best friend, the Baneling companion pet. He’s bursting with excitement and can’t wait to explode onto the pet battle scene.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="/images/ad_8.jpg">
                        <div class="caption">
                            <h3>Blade Wings & Banner Sigil in Diablo III</h3>
                            <p>Grow zergified wings in honor of the Queen of Blades, and unfurl an exclusive banner sigil to herald your Swarm pride throughout the besieged world of Sanctuary.</p>

                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="panel product-panel product-detail">
        <div class="panel-heading">
            <h2>Product details</h2>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6 col-md-3">
                        <h4 class="product-specs-subheader">Genre</h4>
                        <p class="product-specs-text">Real-time Strategy</p>
                        <h4 class="product-specs-subheader">Platforms</h4>
                        <p class="product-specs-text">
                            <i class="icon-windows icon-white"></i> Windows<i class="icon-apple icon-white"></i> Mac <br /><a href="#" target="_blank">System Requirements</a>
                        </p>
                </div>
                <div class="col-sm-6 col-md-3">
                    <h4 class="product-specs-subheader">Product Requirements</h4>
                    <ul class="product-specs-list">
                        <li>
                            <a href="//us.battle.net/shop/product/starcraft-ii-wings-of-liberty" target="_blank">Requires StarCraft II: Wings of Liberty</a>
                        </li>
                        <li>
                            <span title="" data-original-title="Internet connection permanently required for the multiplayer mode and periodically for the single player mode.">Internet Connection Required <i class="icon-question-circle icon-blue"></i></span>
                        </li>
                        <li>
                            Battle.net registration required
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3">
                    <h4 class="product-specs-subheader">Available Languages</h4>
                    <p class="product-specs-text product-specs-no-break">
                        <span>English (US),</span> <span>Español (AL),</span> <span>Português (AL),</span> <span>English (EU),</span> <span>Deutsch,</span> <span>Español (EU),</span> <span>Français,</span> <span>Italiano,</span> <span>Polski,</span> <span>Русский,</span> <span>한국어,</span> <span>繁體中文,</span> <span>English (SEA)</span>
                    </p>
                </div>
                <div class="col-sm-6 col-md-3">
                    <h4 class="product-specs-subheader">Age Rating</h4>
                    <div class="product-rating esrb-rating clearfix">
                        <a href="#" tabindex="1" rel="external" target="_blank">
                            <img class="esrb-logo" src="/images/t.png" alt="ESRB Content Rating: T (Teen)" title="" width="65" height="97" />
                        </a>
                        <span class="esrb-descriptor"><span class="esrb-descriptor-label" title="" data-original-title="Depictions of blood or the mutilation of body parts.">Blood and Gore</span></span>
                        <span class="esrb-descriptor"><span class="esrb-descriptor-label" title="" data-original-title="Mild to moderate use of profanity.">Language</span></span>
                        <span class="esrb-descriptor"><span class="esrb-descriptor-label" title="" data-original-title="Mild provocative references or materials.">Suggestive Themes</span></span>
                        <span class="esrb-descriptor"><span class="esrb-descriptor-label" title="" data-original-title="The consumption of alcoholic beverages.">Use of Alcohol</span></span>
                        <span class="esrb-descriptor"><span class="esrb-descriptor-label" title="" data-original-title="The consumption of tobacco products.">Use of Tobacco</span></span>
                        <span class="esrb-descriptor"><span class="esrb-descriptor-label" title="" data-original-title="Scenes involving aggressive conflict. May contain bloodless dismemberment.">Violence</span></span>
                        <span class="esrb-disclaimer">Online Interactions Not Rated by the ESRB</span>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

</div>