<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="teleSign" class="com.junbo.identity.clientproxy.impl.TeleSignImpl">
        <constructor-arg><value>${identity.conf.teleSign.customerId}</value></constructor-arg>
        <constructor-arg><value>${identity.conf.teleSign.secretKey}</value></constructor-arg>
        <constructor-arg ref="userPersonalInfoRepository"></constructor-arg>
    </bean>

    <bean id="identityCryptoResource" class="com.junbo.crypto.spec.resource.proxy.CryptoResourceClientProxy">
        <constructor-arg name="client" ref="commonAsyncHttpClient"/>
        <constructor-arg name="target" value="${clientproxy.crypto.url}"/>
        <constructor-arg name="transcoder" ref="commonTranscoder"/>
        <constructor-arg name="pathParamTranscoder" ref="commonPathParamTranscoder"/>
        <constructor-arg name="queryParamTranscoder" ref="commonQueryParamTranscoder"/>
        <constructor-arg name="exceptionHandler" ref="commonExceptionHandler"/>
    </bean>
</beans>