<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="teleSign" class="com.junbo.identity.clientproxy.impl.TeleSignImpl">
        <constructor-arg><value>${identity.conf.teleSign.customerId}</value></constructor-arg>
        <constructor-arg><value>${identity.conf.teleSign.secretKey}</value></constructor-arg>
    </bean>

</beans>