<form id="Captcha" class="box1 captcha" {{action "Submit" on="submit"}}>
    <h2>Enter the letters you see in the field below</h2>
    {{#if content.errMessage}}
    <p class="error">{{content.errMessage}}</p>
    {{/if}}
    <div id="captchadiv"></div>
    <div class="actions">
        <input type="submit" class="btn btn-primary" value="Continue"/>
        <button type="button" class="btn btn-cancel" {{action "Cancel"}}>Cancel</button>
    </div>
</form>
