<section class="box1 login">
    <h2>Login to Store</h2>
    <dl>
        <dt>Username</dt>
        <dd>{{input type="text" class="{required:true,email:true}" id="Username" autofocus="true" value=content.username}}</dd>
    </dl>
    <dl>
        <dt>Password</dt>
        <dd>{{input type="password" class="{required:true,maxlength:20}" id="Password" value=content.password}}</dd>
    </dl>
    <div class="actions">
        <button type="button" class="btn btn-primary" {{action "Submit"}}>Login</button>
        <button type="button" class="btn btn-cancel">Cancel</button>
    </div>
</section>