<section class="box1 verification_code">
    <h2>Welcome</h2>

    <div class="actions">
        <input type="submit" class="btn btn-primary" value="Log Out" {{action "Logout"}}/>
    </div>
</section>