<form class="box1" {{action "Submit" on="submit"}}>
<h2>Please Set a PIN for VR</h2>
<p>Your PIN will be used to authenticate purchase through the Store Wallet. This will make purchasing content in VR easier.</p>
{{#if content.errMessage}}
<p class="error">{{content.errMessage}}</p>
{{/if}}
<dl>
    <dt>PIN #</dt>
    <dd>{{input type="text" class="{required:true}" id="Code" name="Code" autofocus="true" value=content.code}}</dd>
</dl>
<dl>
    <dt>Re-Confirm PIN #</dt>
    <dd>{{input type="text" class="{required:true,equalTo:'#Code'}" id="ConfirmCode" name="ConfirmCode"}}</dd>
</dl>
<div class="actions">
    <input type="submit" class="btn btn-primary" value="Continue"/>
    <button type="button" class="btn btn-cancel" {{action "Cancel"}}>Cancel</button>
</div>
</form>