<section class="box1 register">
    <h2>Create an Store Account</h2>

    <dl>
        <dt>Username</dt>
        <dd><input type="text"></dd>
    </dl>
    <dl>
        <dt>Email Address</dt>
        <dd><input type="text"></dd>
    </dl>
    <dl>
        <dt>Password</dt>
        <dd><input type="password"></dd>
    </dl>
    <dl>
        <dt>Re-type Password</dt>
        <dd><input type="password"></dd>
    </dl>
    <dl>
        <dt>Phone Number</dt>
        <dd><input type="text"></dd>
    </dl>
    <dl>
        <dt>Enter Birth Date</dt>
        <dd>
            <select class="month">
                <option>Month</option>
            </select>
            <select class="day">
                <option>Day</option>
            </select>
            <select class="year">
                <option>Year</option>
            </select>
        </dd>
    </dl>
    <dl>
        <dt>Country of Residence</dt>
        <dd>
            <select>
                <option>United States of America</option>
            </select>
        </dd>
    </dl>
    <dl class="agreement">
        <dd><label><input type="checkbox"><span>I have read and agree to Store Terms of Service and Privacy Policy.</span></label></dd>
        <dd><label><input type="checkbox"><span>I would like to receive totally sweet promotions, news, and offers form Store.</span></label></dd>
    </dl>
    <div class="actions">
        <button type="submit" class="btn btn-primary">Continue</button>
        <button type="button" class="btn btn-cancel">Cancel</button>
    </div>
</section>