<form class="box1 verification_code" {{action "Submit" on="submit"}}>
    <h2>New Device Detected!</h2>
    <p>We don't recognize this device! Please enter the code sent to your email to login.</p>
    {{#if content.errMessage}}
    <p class="error">{{content.errMessage}}</p>
    {{/if}}
    <dl>
        <dt>Enter Verification Code</dt>
        <dd>{{input type="text" class="{required:true}" id="Code" name="Code" autofocus="true" value=content.code}}</dd>
    </dl>
    <dl class="agreement">
        <dd><label>{{input type="checkbox" id="Remember" checked=content.remember }} Remember this computer</label></dd>
    </dl>
    <div class="actions">
        <input type="submit" class="btn btn-primary" value="Verify"/>
        <button type="button" class="btn btn-cancel" {{action "Cancel"}}>Cancel</button>
    </div>

    <section class="helper">
        <hgroup><h3>Didn't receive a code?</h3></hgroup>
        {{#if isSend}}
        <p class="message"><span>Verification sent!</span></p>
        {{/if}}
        <p><a href="#">Re-send code to Email Address</a></p>
        <p><a href="#">Re-send code to SMS</a></p>
    </section>

</form>