<section class="box1">
    <h2>Congratulations! <br> Your Store Account is ready to go!</h2>
    <p>if you haven't already, please install the Store Client Launcher to start.</p>
    <p>You may now login to the Store App.</p>
    <div class="actions">
        <button type="submit" class="btn btn-primary">Go to Download Page</button>
        <button type="submit" class="btn btn-primary">Launch Store Client</button>
    </div>
</section>

<section class="box1">
    <h2>Congratulations! <br> Your Store Account is ready to go!</h2>
    <p>You may now login to the Store App.</p>
    <div class="actions">
        <button type="submit" class="btn btn-primary">Launch Store Client</button>
    </div>
</section>