<hr>
<section>
    <hgroup><h2>Items in Your Cart</h2></hgroup>

    {{#each itemController="CartItem"}}
    <dl>
        <dd>Name: {{product.name}}</dd>
        <dd>Price: $ {{product.price}}</dd>
        <dd>Qty: {{input class="input-text" type="number" value=count focus-out="change"}}</dd>
        <dd>Subtotal: ${{itemSubtotal}}</dd>
        <dd><a href="#" {{action "removeItem"}}>Remove</a></dd>
    </dl>
    {{/each}}

</section>
<hr/>
<section>
    <hgroup><h3>Cart Info</h3></hgroup>
    <p>Total: $ {{subTotal}}</p>
</section>