<div class="container page cart-page">
    <div class="row">
        <div class="col-md-3 sidebar">
            <%include warpers/HomeSidebar%>
        </div>
        <div class="col-md-9 main">

            <div class="cart">
                <h2>Items in Your Cart</h2>

                <div class="list">
                    {{#each itemController="CartItem"}}
                    <div class="item">
                        {{#link-to  'product' product.id  class="item-logo"}}<span class="img-overlay"></span><img {{bind-attr src=product.picture_url}} />{{/link-to}}

                        <div class="item-info">
                            <dl class="item-head">
                                <dd class="title"><h4>{{product.name}}</h4></dd>
                                <dd class="price">$ {{product.price}}</dd>
                                <dd class="count">{{input class="input-text" type="number" value=count focus-out="changeCount"}}</dd>
                                <dd class="total"><h4>${{itemSubtotal}}</h4></dd>
                                <dt class="clearfix"></dt>
                            </dl>

                            <div class="clearfix item-body">
                                <div class="pull-left">
                                    <p class="des">DIGITAL DOWNLOAD</p>
                                </div>
                                <div class="pull-right">
                                    <p class="actions">
                                        <a href="#" {{action "removeItem"}}>Remove</a>
                                    </p>
                                    <p class="part-number">
                                        Part number: <span>{{product.id}}</span>
                                    </p>
                                </div>
                                <div class="clearfix"></div>
                                <div class="gift">gift</div>
                            </div>

                        </div>
                        <div class="clearfix"></div>
                    </div>
                    {{/each}}
                </div>

                <div class="cart-info">
                    <div class="pull-left"></div>
                    <div class="pull-right">
                        <dl>
                            <dt>Cart subtotal</dt>
                            <dd>${{subTotal}}</dd>
                        </dl>
                        <dl>
                            <dt>Free Shipping</dt>
                            <dd>$0.00</dd>
                        </dl>
                        <dl>
                            <dt>Tax</dt>
                            <dd>$0.00</dd>
                        </dl>
                        <dl class="total">
                            <dt>Total</dt>
                            <dd>${{subTotal}}</dd>
                        </dl>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="cart-actions">
                    <div class="pull-left">

                    </div>
                    <div class="pull-right">
                        <a href="#" class="btn btn-primary check-out">Check Out</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

        </div>

    </div>
</div>