<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <script type="text/javascript" src="/scripts/libs/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/scripts/libs/jquery.cookie.js"></script>
    <script type="text/javascript" src="/scripts/libs/handlebars-v1.2.1.js"></script>
    <script type="text/javascript" src="/scripts/libs/ember.min.js"></script>
    <script type="text/javascript" src="/scripts/libs/ember-data.js"></script>
</head>
<body>
<script type="text/x-handlebars">
<%- include common/header%>
{{outlet}}
</script>

<script type="text/javascript" src="/scripts/app/store_app.js"></script>
</body>
</html>