<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href='/css/ember-animated-outlet.css' />
    <script type="text/javascript" src="/scripts/libs/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/scripts/libs/jquery.metadata.js"></script>
    <script type="text/javascript" src="/scripts/libs/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/scripts/libs/handlebars-v1.2.1.js"></script>
    <%if(process.env.NAME == "development"){%>
    <script type="text/javascript" src="/scripts/libs/ember.js"></script>
    <%}else{%>
    <script type="text/javascript" src="/scripts/libs/ember.min.js"></script>
    <%}%>
    <script type="text/javascript" src="/scripts/libs/ember-animated-outlet.js"></script>
    <script type="text/javascript" src="/scripts/libs/ember-data.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
</head>
<body>
<script type="text/x-handlebars">
<%- include common/header%>
    {{animated-outlet name="main"}}
</script>
<script type="text/javascript" src="/scripts/app/common/utils.js"></script>
<script type="text/javascript" src="/scripts/app/common/config.js"></script>
<script type="text/javascript" src="/scripts/app/common/transition.js"></script>
<script type="text/javascript" src="/scripts/app/common/auth_manager.js"></script>
<script type="text/javascript" src="/scripts/app/adapters/data_provider.js"></script>
<script type="text/javascript" src="/scripts/app/adapters/identity_provider.js"></script>
<script type="text/javascript" src="/scripts/app/adapters/catalog_provider.js"></script>
<script type="text/javascript" src="/scripts/app/adapters/cart_provider.js"></script>
<script type="text/javascript" src="/scripts/app/adapters/billing_provider.js"></script>
<script type="text/javascript" src="/scripts/app/adapters/payment_provider.js"></script>
<script type="text/javascript" src="/scripts/app/adapters/entitlement_provider.js"></script>
<script type="text/javascript" src="/scripts/app/adapters/custom_adapter.js"></script>
<script type="text/javascript" src="/scripts/app/models/domain/request_data_model.js"></script>
<script type="text/javascript" src="/scripts/app/models/domain/auth_key.js"></script>
<script type="text/javascript" src="/scripts/app/models/data/store_models.js"></script>
<script type="text/javascript" src="/scripts/app/models/data/shipping_info_models.js"></script>
<script type="text/javascript" src="/scripts/app/models/data/payment_models.js"></script>
<script type="text/javascript" src="/scripts/app/models/data/profile_model.js"></script>
<script type="text/javascript" src="/scripts/app/routes/store_routes.js"></script>
<script type="text/javascript" src="/scripts/app/routes/shipping_info_routes.js"></script>
<script type="text/javascript" src="/scripts/app/routes/payment_routes.js"></script>
<script type="text/javascript" src="/scripts/app/routes/account_routes.js"></script>
<script type="text/javascript" src="/scripts/app/routes/dev_center_routes.js"></script>
<script type="text/javascript" src="/scripts/app/views/store_views.js"></script>
<script type="text/javascript" src="/scripts/app/views/shipping_info_views.js"></script>
<script type="text/javascript" src="/scripts/app/views/payment_views.js"></script>
<script type="text/javascript" src="/scripts/app/views/account_views.js"></script>
<script type="text/javascript" src="/scripts/app/views/dev_center_views.js"></script>
<script type="text/javascript" src="/scripts/app/controllers/store_controllers.js"></script>
<script type="text/javascript" src="/scripts/app/controllers/shipping_info_controllers.js"></script>
<script type="text/javascript" src="/scripts/app/controllers/payment_controllers.js"></script>
<script type="text/javascript" src="/scripts/app/controllers/account_controllers.js"></script>
<script type="text/javascript" src="/scripts/app/controllers/dev_center_controllers.js"></script>
<script type="text/javascript" src="/scripts/app/store_app.js"></script>
</body>
</html>