<div class="container">
<nav class="box1 categories">
    <h3>Categories</h3>

    <ul>
        <li><a href="#">Games</a></li>
        <li><a href="#">Subscriptions</a></li>
        <li><a href="#">Pets</a></li>
        <li><a href="#">Mounts</a></li>
        <li><a href="#">Helms</a></li>
        <li><a href="#">Game Services</a></li>
        <li><a href="#">Oculus Balance</a></li>
        <li class="line1"></li>
        <li><a href="#">Redeem a Code</a></li>
        <li><a href="#">Merchandise Store</a></li>
    </ul>
</nav>

<div class="box2 product_list">
    <h3>Product List</h3>

    <dl>
        <dt><a href="/detail">Product Name</a></dt>
        <dd>$ 9.99</dd>
    </dl>

    <dl>
        <dt><a href="/detail">Product Name</a></dt>
        <dd>$ 9.99</dd>
    </dl>

    <dl>
        <dt><a href="/detail">Product Name</a></dt>
        <dd>$ 9.99</dd>
    </dl>
    <dl>
        <dt><a href="/detail">Product Name</a></dt>
        <dd>$ 9.99</dd>
    </dl>
    <dl>
        <dt><a href="/detail">Product Name</a></dt>
        <dd>$ 9.99</dd>
    </dl>
    <dl>
        <dt><a href="/detail">Product Name</a></dt>
        <dd>$ 9.99</dd>
    </dl>

    <div class="clear"></div>
</div>
</div>