<div class="container">
    <h3>Product Name</h3>
    <p>
        Price: $9.99
    </p>

    <p><button type="button" class="btn btn-primary">Add to Cart</button></p>
    <p><button type="button" class="btn btn-orange">Buy $9.99</button></p>
</div>