<h2 class="side-type-title">FILTERS<span class="clear-filters"><a href="#">Clear All</a></span></h2>
<ul class="product-types">
    <li><a href="#" class="is-checked"><span class="input-checkbox checked"></span> World of Warcraft <span class="product-count">(7)</span></a></li>
    <li><a href="#"><span class="input-checkbox checked"></span>  Diablo III <span class="product-count">(1)</span></a></li>
    <li><a href="#"><span class="input-checkbox"></span>  StarCraft II <span class="product-count">(11)</span></a></li>
    <li><a href="#"><span class="input-checkbox"></span>  Hearthstone <span class="product-count">(7)</span></a></li>
</ul>
<%include SidebarLinks%>