<h2 class="side-type-title">FILTERS<span class="clear-filters"><a href="#">Clear All</a></span></h2>
<ul class="product-types">
    <li><a href="#" class="is-checked"><span class="input-checkbox checked"></span>  Games <span class="product-count">(7)</span></a></li>
    <li><a href="#"><span class="input-checkbox checked"></span>  Subscriptions <span class="product-count">(1)</span></a></li>
    <li><a href="#"><span class="input-checkbox"></span>  Pets <span class="product-count">(11)</span></a></li>
    <li><a href="#"><span class="input-checkbox"></span>  Mounts <span class="product-count">(7)</span></a></li>
    <li><a href="#"><span class="input-checkbox"></span>  Helms <span class="product-count">(3)</span></a> </li>
    <li><a href="#"><span class="input-checkbox"></span>  Game Services <span class="product-count">(9)</span></a> </li>
    <li><a href="#"><span class="input-checkbox"></span>  Store Balance</a> </li>
</ul>
<%include SidebarLinks%>