<header class="header">
    <div class="header-primary">
        <div class="container">
            <h1 class="shop-logo">
                <a href="#">STORE DEMO</a>
            </h1>
            <nav class="top-nav">
                <ul>
                    <li class="logo"><a href="#">Store</a></li>
                    <%if(PageModel.Header.IsAuthenticate == true){%>
                    <li class="login"><span><%= PageModel.Header.Username%></span>&nbsp;&nbsp;<a href="/auth/logout">Log out</a></li>
                    <%}else{%>
                    <li class="login"><a href="<%= PageModel.Header.LoginLink%>">Login</a><span> or </span><a href="<%= PageModel.Header.RegisterLink%>">Create an Account</a></li>
                    <%}%>
                    <li><a href="#">Shop</a></li>
                    <li><a href="/#/cart">Cart</a></li>
                    <li><a href="#">Account</a></li>
                    <li><a href="#">Support</a></li>
                    <li><a href="#">Explore</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="navbar navbar-static-top header-secondary top-bar" role="navbar">
        <div class="container">
            <div class="pull-left">
                <ul class="breadcrumb">
                    <li><a href="#"><span class="breadcrumb-home"><i class="icon-home"></i>Store</span></a><span class="divider"></span></li>
                </ul>
            </div>
            <div class="pull-right">
                <label class="search"><span class="glyphicon glyphicon-search"></span><input type="text"/></label>
                <div id="fat-menu" class="dropdown region-status">
                    <a href="#" id="drop3" role="button" class="dropdown-toggle" data-toggle="dropdown"><i class="prefix-icon"></i>Americas & Southeast Asia <b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="http://twitter.com/fat">Action</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="http://twitter.com/fat">Another action</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="http://twitter.com/fat">Something else here</a></li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="http://twitter.com/fat">Separated link</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>