<ul class="game-types">
    <li><a href="#"><i class="game-badge wow"></i> World of Warcraft <span class="product-count">(32)</span></a> </li>
    <li><a href="#"> <i class="game-badge diablo"></i> Diablo III <span class="product-count">(2)</span></a> </li>
    <li><a href="#"> <i class="game-badge starcraft"></i> StarCraft II <span class="product-count">(3)</span></a> </li>
    <li><a href="#"> <i class="game-badge hearthstone"></i> Hearthstone <span class="product-count">(1)</span></a> </li>
    <li><a href="#"> <i class="game-badge battle-net"></i> Battle.net <span class="product-count">(1)</span></a> </li>
</ul>
<h2 class="side-type-title">Browse by Type</h2>
<ul class="product-types">
    <li><a href="#"> Games <span class="product-count">(7)</span></a></li>
    <li><a href="#"> Subscriptions <span class="product-count">(1)</span></a></li>
    <li><a href="#"> Pets <span class="product-count">(11)</span></a></li>
    <li><a href="#"> Mounts <span class="product-count">(7)</span></a></li>
    <li><a href="#"> Helms <span class="product-count">(3)</span></a> </li>
    <li><a href="#"> Game Services <span class="product-count">(9)</span></a> </li>
    <li><a href="#"> Store Balance</a> </li>
</ul>
<%include SidebarLinks%>