<div class="sidebar-links">
    <p><a href="#" target="_blank">Redeem a Code <i class="icon icon-external-link"></i></a></p>
    <p><a href="#" target="_blank">Merchandise Store <i class="icon icon-external-link"></i></a></p>
</div>