<h2>Offer creation</h2>
<form novalidate="novalidate" class="form-horizontal" name="offerCreationForm">
    <table class="table table-bordered vertical-table">
        <tr>
            <td style="width: 200px;">Offer Id</td>
            <td>{{ revision.offer.id }}</td>
        </tr>
        <tr>
            <td>Price type</td>
            <td>
                <select ng-model="revision.priceType" ng-init="revision.priceType='FREE'" ng-change="updatePriceType(revision.priceType)">
                    <option>FREE</option>
                    <option>TIERED</option>
                    <option>CUSTOM</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Prices *</td>
            <td>
                <div>
                    <div ng-show="revision.priceType=='FREE'">
                        Free
                    </div>
                    <div ng-show="revision.priceType=='CUSTOM'">
                        Add price:
                        <select ng-model="selectedCountry" ng-change="addPrice(selectedCountry)" ng-options="country.code for country in countries">
                        </select>
                        <table class="table table-bordered vertical-table">
                            <tr><td>Country</td><td>Currency</td><td>Amount</td><td></td></tr>
                            <tr ng-repeat="(countryCode, price) in revision.prices">
                                <td>{{ countryCode }}</td>
                                <td>{{ price.currency }}</td>
                                <td><input type="text" class="form-control required" ng-model="price.amount" required /></td>
                                <td class="select" ng-click="removePrice(countryCode)">x</td>
                            </tr>
                        </table>
                    </div>
                    <div ng-show="revision.priceType=='TIERED'">
                        Select a price tier
                        <select ng-model="selectedTierIndex" ng-change="updatePriceTier()">
                            <option ng-repeat="priceTier in priceTiers" value="{{$index}}"
                                    ng-selected="priceTier.self.id == revision.priceTier.id">{{priceTier.name}}</option>
                        </select>
                        <div ng-show="revision.priceTier">
                            <table class="table table-bordered vertical-table">
                                <tr><td>Country</td><td>Currency</td><td>Price</td></tr>
                                <tr ng-repeat="(country, price) in selectedTier.prices">
                                    <td>{{country}}</td>
                                    <td>{{price.currency}}</td>
                                    <td>{{price.amount}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>Limit Per Customer</td>
            <td><input type="number" class="form-control required" ng-model="revision.restriction.limitPerCustomer"></td>
        </tr>
        <tr>
            <td>Limit Per Order</td>
            <td><input type="number" class="form-control required" ng-model="revision.restriction.limitPerOrder"></td>
        </tr>
        <tr>
            <td>Available Countries</td>
            <td>
                <a ng-click="selectAllCountries()" class="btn btn-small btn-default">Check All</a>
                <a ng-click="deselectAllCountries()" class="btn btn-small btn-default">Uncheck All</a>
                <hr/>
                <label ng-repeat="country in countries | filter: '!DEFAULT'">
                    <input type="checkbox" checklist-model="revision.eligibleCountries" checklist-value="country.code" class="chooseItem">{{ country.name }}
                </label>
            </td>
        </tr>
    </table>

    <div>
        <b>Locale Properties</b><br>
        Add Locale:
        <select ng-model="selectedLocale" ng-change="addLocale(selectedLocale)" ng-options="locale for locale in locales">
        </select>
        <hr>
        <table class="table table-bordered vertical-table">
            <tr ng-repeat="(locale, properties) in revision.locales">
                <td>{{ locale }}</td>
                <td>
                    <table class="table table-bordered vertical-table">
                        <tr>
                            <td>Name</td>
                            <td><input type="text" class="form-control required" ng-model="properties.name" required /></td>
                        </tr>
                        <tr>
                            <td>Revision Notes</td>
                            <td><input type="text" class="form-control required" ng-model="properties.revisionNotes" /></td>
                        </tr>
                        <tr>
                            <td>Long Description</td>
                            <td><input type="text" class="form-control required" ng-model="properties.longDescription" /></td>
                        </tr>
                        <tr>
                            <td>Short Description</td>
                            <td><input type="text" class="form-control required" ng-model="properties.shortDescription" /></td>
                        </tr>
                    </table>

                </td>
                <td class="select" ng-click="removeLocale(locale)">x</td>
            </tr>
        </table>
    </div>
    <hr>
    <div class="control-group">
        <div class="controls">
            <a ng-click="offerCreationForm.$valid && saveOffer()" class="btn btn-small btn-default">Finish</a>
        </div>
    </div>
</form>