<table class="table table-bordered vertical-table">
    <tr>
        <td style="width: 200px;">Offer Id</td>
        <td><a href="{{ offer.self.href }}">{{ offer.self.id }}</a></td>
    </tr>
    <tr>
        <td>Offer Name</td>
        <td>{{ offer.name }}</td>
    </tr>
    <tr>
        <td>Status</td>
        <td>{{ offer.status }}</td>
    </tr>
    <tr>
        <td>Developer</td>
        <td><a href="{{ offer.developer.href }}">{{ offer.developer.id }}</a></td>
    </tr>
    <tr>
        <td>Category</td>
        <td>
            <div ng-repeat="category in offer.categories">
                <a href="#/attributes/{{category.id}}" >{{ category.id }}</a>
            </div>
        </td>
    </tr>
    <tr>
        <td>Genre</td>
        <td>
            <div ng-repeat="genre in offer.genres">
                <a href="#/attributes/{{genre.id}}">{{ genre.id }}</a>
            </div>
        </td>
    </tr>
    <tr>
        <td>Items</td>
        <td>
            <div ng-repeat="item in offer.items">
                <a href="#/items/{{item.itemId.id}}">{{ item.itemId.id }}</a>
            </div>
        </td>
    </tr>
    <tr>
        <td>PriceTier</td>
        <td><a href="#/price-tiers/{{ offer.priceTier.id }}">{{ offer.priceTier.id }}</a></td>
    </tr>
    <tr>
        <td>Prices</td>
        <td>
            <table class="table">
                <thead>
                <tr>
                    <th>Country</th>
                    <th>Currency</th>
                    <th>Amount</th>
                </tr>
                </thead>
                <tr ng-repeat="(country, price) in offer.prices">
                    <td>{{ country }}</td>
                    <td>{{ price.currency }}</td>
                    <td>{{ price.amount }}</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>Limit Per Customer</td>
        <td>{{ offer.restriction.limitPerCustomer }}</td>
    </tr>
    <tr>
        <td>Limit Per Order</td>
        <td>{{ offer.restriction.limitPerOrder }}</td>
    </tr>
    <tr>
        <td>Available Countries</td>
        <td>{{ offer.eligibleCountries }}</td>
    </tr>
</table>