Required (*)
<table class="table table-bordered vertical-table" ng-controller="OfferEditCtrl">
    <tr ng-if="offer.self">
        <td>Offer Id</td>
        <td>{{ offer.self.id }}</td>
    </tr>
    <tr>
        <td style="width: 200px;">Offer Name *</td>
        <td>
            <input type="text" class="form-control required" ng-model="offer.name" name="name" required />
            <span class="help-inline" ng-show="submitted && form.name.$error.required">Required</span>
        </td>
    </tr>
    <tr>
        <td>Developer *</td>
        <td><input type="text" class="form-control required" ng-model="offer.developer.id" ng-change="updateDeveloper()" required /></td>
    </tr>
    <tr>
        <td>Category</td>
        <td>
            <label ng-repeat="categoryAttribute in categoryAttributes">
                <input type="checkbox" checklist-model="offer.categories" checklist-value="categoryAttribute.self" class="chooseItem">{{ categoryAttribute.name }}
            </label>
        </td>
    </tr>
    <tr>
        <td>Genre</td>
        <td>
            <label ng-repeat="genreAttribute in genreAttributes">
                <input type="checkbox" checklist-model="offer.genres" checklist-value="genreAttribute.self" class="chooseItem">{{ genreAttribute.name }}
            </label>
        </td>
    </tr>
    <tr>
        <td>Items</td>
        <td>
            <div>
                <table class="table borderless">
                    <tr>
                        <td>Contains {{ totalItems() }} Items.</td>
                        <td>
                            <button ng-click="isCollapsed = !isCollapsed" class="btn btn-small btn-default">
                                <div ng-show="isCollapsed">View</div>
                                <div ng-hide="isCollapsed">Collapse</div>
                            </button>
                        </td>
                    </tr>
                </table>
                <div collapse="isCollapsed">
                    <table class="table table-bordered"><tr>
                        <td>
                            <b>Contained Items:</b>
                            <table class="table table-hover">
                                <tr ng-repeat="(id, item) in selectedItems" ng-click="removeItem(item)">
                                    <td>{{ item.name }}</td>
                                    <td class="select">x</td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <b>Add Items to the Offer:</b>
                            <table class="table table-hover">
                                <tr ng-repeat="item in items" ng-click="addItem(item)">
                                    <td>{{ item.name }}</td>
                                    <td class="select">+</td>
                                </tr>
                            </table>
                        </td>
                    </tr></table>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td>Price type:</td>
        <td>
            <select ng-model="offer.priceType" ng-init="offer.priceType='Free'" ng-change="updatePriceType(offer.priceType)">
                <option>Free</option>
                <option>TierPricing</option>
                <option>NormalPricing</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>Prices *</td>
        <td>
            <div>
                <div ng-show="offer.priceType=='Free'">
                    Free
                </div>
                <div ng-show="offer.priceType=='NormalPricing'">
                    Add price:
                    <select ng-model="selectedCountry" ng-change="addPrice(selectedCountry)" ng-options="country.code for country in countries">
                    </select>
                    <table class="table table-bordered vertical-table">
                        <tr><td>Country</td><td>Currency</td><td>Amount</td><td></td></tr>
                        <tr ng-repeat="(countryCode, price) in offer.prices">
                            <td>{{ countryCode }}</td>
                            <td>{{ price.currency }}</td>
                            <td><input type="text" class="form-control required" ng-model="price.amount" required /></td>
                            <td class="select" ng-click="removePrice(countryCode)">x</td>
                        </tr>
                    </table>
                </div>
                <div ng-show="offer.priceType=='TierPricing'">
                    Select a price tier
                    <select ng-model="selectedTierIndex" ng-change="updatePriceTier()">
                        <option ng-repeat="priceTier in priceTiers" value="{{$index}}"
                                ng-selected="priceTier.self.id == offer.priceTier.id">{{priceTier.name}}</option>
                    </select>
                    <div ng-show="offer.priceTier">
                        <table class="table table-bordered vertical-table">
                            <tr><td>Country</td><td>Currency</td><td>Price</td></tr>
                            <tr ng-repeat="(country, price) in selectedTier.prices">
                                <td>{{country}}</td>
                                <td>{{price.currency}}</td>
                                <td>{{price.amount}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td>Limit Per Customer</td>
        <td><input type="number" class="form-control required" ng-model="offer.restriction.limitPerCustomer"></td>
    </tr>
    <tr>
        <td>Limit Per Order</td>
        <td><input type="number" class="form-control required" ng-model="offer.restriction.limitPerOrder"></td>
    </tr>
    <tr>
        <td>Available Countries</td>
        <td>
            <a ng-click="selectAllCountries()" class="btn btn-small btn-default">Check All</a>
            <a ng-click="deselectAllCountries()" class="btn btn-small btn-default">Uncheck All</a>
            <hr/>
            <label ng-repeat="country in countries | filter: '!DEFAULT'">
                <input type="checkbox" checklist-model="offer.eligibleCountries" checklist-value="country.code" class="chooseItem">{{ country.name }}
            </label>
        </td>
    </tr>
</table>