<h1>Offer creation</h1>
<form novalidate="novalidate" class="form-horizontal" name="offerCreationForm">
    <table class="table table-bordered vertical-table">
        <tr>
            <td style="width: 200px;">Categories</td>
            <td>
                <label ng-repeat="categoryAttribute in categoryAttributes">
                    <input type="checkbox" checklist-model="offer.categories" checklist-value="categoryAttribute.self" class="chooseItem">{{ categoryAttribute.name }}
                </label>
            </td>
        </tr>
        <tr>
            <td>Environment</td>
            <td>
                <label ng-repeat="environment in environments">
                    <input type="radio" ng-model="offer.environment" value="{{environment}}" class="chooseItem">{{ environment }}
                </label>
            </td>
        </tr>
    </table>

    <div class="control-group">
        <div class="controls">
            <a ng-click="offerCreationForm.$valid && saveOffer()" class="btn btn-small btn-default">Next</a>
        </div>
    </div>
</form>