<h1>Offer creation</h1>
<form novalidate="novalidate" class="form-horizontal">
    <table class="table table-bordered vertical-table">
        <tr>
            <td>Offer Name</td>
            <td><input type="text" class="form-control required" ng-model="offer.name"></td>
        </tr>
        <tr>
            <td>Developer</td>
            <td><input type="text" class="form-control required" ng-model="offer.developer.id" ng-change="updateDeveloper()"></td>
        </tr>
        <tr>
            <td>Category</td>
            <td>
                <select ng-model="selectedCategory" ng-change="updateCategories()"
                        ng-options="categoryAttribute.self as categoryAttribute.name for categoryAttribute in categoryAttributes">
                </select>
            </td>
        </tr>
        <tr>
            <td>Genre</td>
            <td>
                <select ng-model="offer.type" ng-options="typeAttribute.self as typeAttribute.name for typeAttribute in typeAttributes">
                </select>
            </td>
        </tr>
        <tr>
            <td>Items</td>
            <td>
                <div>
                    <table class="table borderless">
                        <tr>
                            <td>Contains {{ totalItems() }} Items.</td>
                            <td>
                                <button ng-click="isCollapsed = !isCollapsed" class="btn btn-small btn-default">
                                    <div ng-show="isCollapsed">Add Items</div>
                                    <div ng-hide="isCollapsed" ng-click="saveItems()">Save</div>
                                </button>
                            </td>
                        </tr>
                    </table>
                    <div collapse="isCollapsed">
                        <table class="table table-bordered"><tr>
                            <td>
                                <b>Contained Items:</b>
                                <table class="table table-hover">
                                    <tr ng-repeat="(id, item) in selectedItems" ng-click="removeItem(item)">
                                        <td>{{ item.name }}</td>
                                        <td class="select">x</td>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <b>Add Items to the Offer:</b>
                                <table class="table table-hover">
                                    <tr ng-repeat="item in items" ng-click="addItem(item)">
                                        <td>{{ item.name }}</td>
                                        <td class="select">+</td>
                                    </tr>
                                </table>
                            </td>
                        </tr></table>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>Prices</td>
            <td>
                <div>
                    <select ng-model="priceType" ng-init="priceType='TierPricing'">
                        <option>TierPricing</option>
                        <option>NormalPricing</option>
                    </select>
                    <div ng-show="priceType=='NormalPricing'">
                        Add price:
                        <select ng-model="selectedCountry" ng-change="addPrice(selectedCountry)">
                            <option>US</option>
                            <option>CN</option>
                        </select>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Country</th>
                                <th>Amount</th>
                                <th>Currency</th>
                            </tr>
                            </thead>
                            <tr ng-repeat="(country, price) in offer.prices">
                                <td>{{ country }}</td>
                                <td><input type="text" class="form-control required" ng-model="price.amount"></td>
                                <td><input type="text" class="form-control required" ng-model="price.currency"></td>
                            </tr>
                        </table>
                    </div>
                    <div ng-show="priceType=='TierPricing'">
                        TODO: TierPricing
                    </div>
                </div>
            </td>
        </tr>
    </table>

    <div class="control-group">
        <div class="controls">
            <a ng-click="cancel()" class="btn btn-small btn-default">Cancel</a>
            <a ng-click="createOffer()" class="btn btn-small btn-default">Save</a>
        </div>
    </div>
</form>