<div class="span6">
  <div class="controls">
      <a href="#/items/creation">New Offer</a>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th style="min-width: 80px;">Offer Id</th>
        <th>Offer Status</th>
        <th>Current Revision</th>
        <th>Created Time</th>
        <th>Updated Time</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="offer in offers | filter: user_id">
        <td><a href="#/offers/{{ offer.self.id }}">{{ offer.self.id }}</a></td>
        <td>{{ offer.status }}</td>
        <td><a href="#/offer-revisions/{{ offer.currentRevision.id }}">{{ offer.currentRevision.id }}</a></td>
        <td>{{ offer.createdTime }}</td>
        <td>{{ offer.updatedTime }}</td>
      </tr>
    </tbody>
  </table>
</div>