<h1>Offer detail</h1>
<form novalidate="novalidate" class="form-horizontal">
    <table class="table table-bordered vertical-table">
        <tr>
            <td style="width: 200px;">Offer Id</td>
            <td>{{ offer.self.id }}</td>
        </tr>
        <tr>
            <td>Developer</td>
            <td>{{ offer.developer.id }}</td>
        </tr>
        <tr>
            <td>Offer Name</td>
            <td><input type="text" class="form-control required" ng-model="offer.name"></td>
        </tr>
        <tr>
            <td>Status</td>
            <td><input type="text" class="form-control required" ng-model="offer.status"></td>
        </tr>
        <tr>
            <td>Category</td>
            <td>
                <label ng-repeat="categoryAttribute in categoryAttributes">
                    <input type="checkbox" checklist-model="offer.categories" checklist-value="categoryAttribute.self" class="chooseItem">{{ categoryAttribute.name }}
                </label>
            </td>
        </tr>
        <tr>
            <td>Genre</td>
            <td>
                <label ng-repeat="genreAttribute in genreAttributes">
                    <input type="checkbox" checklist-model="offer.genres" checklist-value="genreAttribute.self" class="chooseItem">{{ genreAttribute.name }}
                </label>
            </td>
        </tr>
        <tr>
            <td>Available Countries</td>
            <td>
                <a ng-click="selectAllCountries()" class="btn btn-small btn-default">Select All</a>
                <a ng-click="deselectAllCountries()" class="btn btn-small btn-default">Deselect All</a>
                <hr/>
                <label ng-repeat="country in countries | filter: '!DEFAULT'">
                    <input type="checkbox" checklist-model="offer.eligibleCountries" checklist-value="country.code" class="chooseItem">{{ country.name }}
                </label>
            </td>
        </tr>
    </table>

    <div class="control-group">
        <div class="controls">
            <a ng-click="cancel()" class="btn btn-small btn-default">Cancel</a>
            <a ng-click="updateOffer()" class="btn btn-small btn-default">Save</a>
        </div>
    </div>
</form>