<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">General</h3>
    </div>
    <div class="panel-body form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label">Offer Id</label>
            <div class="col-sm-9">
                <p class="form-control-static">{{ offer.self.id }}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Status</label>
            <div class="col-sm-9">
                <p class="form-control-static" ng-if="offer.isPublished">Published</p>
                <p class="form-control-static" ng-if="!offer.isPublished">Not Published</p>
            </div>
        </div>
        <div ng-if="revision">
            <div class="form-group">
                <label class="col-sm-3 control-label">Revision Id</label>
                <div class="col-sm-9">
                    <p class="form-control-static">{{ revision.self.id }}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Category</label>
                <div class="col-sm-9">
                    <div ng-repeat="category in revision.categories">
                        <p class="form-control-static">
                            <a href="#/attributes/{{category.id}}" >{{ category.id }}</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Items</label>
                <div class="col-sm-9">
                    <p class="form-control-static">
                        <span ng-repeat="item in revision.items">
                            <a href="#/items/{{item.item.id}}" >{{ item.item.id }}</a>
                        </span>
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Price Type</label>
                <div class="col-sm-9">
                    <p class="form-control-static">{{ revision.price.priceType }}</p>
                </div>
            </div>
            <div class="form-group" ng-show="revision.price.priceType=='TIERED'">
                <label class="col-sm-3 control-label">Price Tier</label>
                <div class="col-sm-9">
                    <p class="form-control-static">
                        <a href="/api/price-tiers/{{ revision.price.priceTier.id }}">{{ revision.price.priceTier.id }}</a>
                    </p>
                </div>
            </div>
            <div class="form-group" ng-show="revision.price.priceType=='CUSTOM'">
                <label class="col-sm-3 control-label">Prices</label>
                <div class="col-sm-9">
                    <div class="panel panel-default" class="form-control-static">
                        <div class="panel-body">
                            <table class="table">
                                <tr ng-repeat="(currency, price) in revision.price.prices">
                                    <td>{{ currency }}</td>
                                    <td>{{ price }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Created Time</label>
            <div class="col-sm-9">
                <p class="form-control-static">{{ offer.createdTime }}</p>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Locale Properties</h3>
    </div>
    <div class="panel-body form-horizontal">
        <div ng-repeat="(locale, properties) in revision.locales">
            <div class="form-group">
                <span class="col-sm-3 control-label">{{ locale }}</span>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Name</label>
                <div class="col-sm-9">
                    <p class="form-control-static">
                        {{ properties.name }}
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Revision Notes</label>
                <div class="col-sm-9">
                    <p class="form-control-static">
                        {{ properties.revisionNotes }}
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Long Description</label>
                <div class="col-sm-9">
                    <p class="form-control-static">
                        {{ properties.longDescription }}
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Short Description</label>
                <div class="col-sm-9">
                    <p class="form-control-static">
                        {{ properties.shortDescription }}
                    </p>
                </div>
            </div>
            <hr>
        </div>
    </div>
</div>

<div class="panel panel-default form-horizontal">
    <div class="panel-heading">
        <h3 class="panel-title">Restrictions</h3>
    </div>
    <div class="panel-body" ng-if="!revision">
        <span>Current Revision Not Set</span>
    </div>
    <div class="panel-body" ng-if="revision">
        <div class="form-group">
            <label class="col-sm-3 control-label">Limit Per Customer</label>
            <div class="col-sm-9">
                <p class="form-control-static">{{ revision.restriction.limitPerCustomer }}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Limit Per Order</label>
            <div class="col-sm-9">
                <p class="form-control-static">{{ revision.restriction.limitPerOrder }}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Available Countries</label>
            <div class="col-sm-9">
                <p class="form-control-static">
                    <span ng-repeat="country in revision.eligibleCountries">
                        {{ country.id }}
                    </span>
                </p>
            </div>
        </div>
    </div>
</div>
