<div class="container cart">
    <div class="cart_list">
        <h2>Items in Your Cart</h2>
        {{statusChange}}

        {{#each itemController="CartItem"}}
        <section class="item">
            <div class="select">{{input type="checkbox" checked=selected}}</div>
            {{#link-to-animated "detail" id animations="main:slideOverLeft" class="picture"}}<img {{bind-attr src="product.picture"}}/>{{/link-to-animated}}
            <div class="info">
                <dl>
                    <dt>{{product.name}}</dt>
                    <dd>$ {{product.price}}</dd>
                    <dd class="qty">{{input type="number" value=qty focus-out="ChangeCount"}}</dd>
                    <dd>$ {{itemSubtotal}}</dd>
                </dl>
                <p>
                    <a href="#" {{action "RemoveItem"}}>Remove</a>
                </p>
            </div>
            <div class="clear"></div>
        </section>
        {{/each}}

        <div class="info">

            <div class="money">
            <dl>
                <dt>Cart subtotal</dt>
                <dd>$ {{subTotal}}</dd>
            </dl>
            <dl>
                <dt>Shipping</dt>
                <dd>$ 0.00</dd>
            </dl>
            <dl>
                <dt>Tax</dt>
                <dd>$ 0.00</dd>
            </dl>
            <dl class="total">
                <dt>Total</dt>
                <dd>$ {{subTotal}}</dd>
            </dl>
            </div>
            <div class="clear"></div>
        </div>

        <div class="actions">
            <button type="button" class="btn btn-orange" {{action "Checkout"}}>Check Out</button>
        </div>

    </div>
</div>