<div class="container detail">
    <h3>Product Name</h3>
    <section class="picture">

    </section>
    <section class="info">
        <p>Price: $9.99</p>
        <br>
        <p></p>
        <p><button type="button" class="btn btn-large btn-primary">Add to Cart</button></p>
        <p><button type="button" class="btn btn-large btn-orange">Buy $9.99</button></p>
    </section>

    <div class="clear"></div>
</div>