<div class="container detail">
    <h2>{{name}}</h2>
    <section class="picture">
        <img {{bind-attr src="picture"}} width="550" height="300" />
    </section>
    <section class="info">
        <p><h2>Price: $ {{price}}</h2></p>
        <br>
        <p></p>
        <p><button id="BtnAddToCart" type="button" class="btn btn-large btn-primary" {{action "AddToCart"}}>Add to Cart</button></p>
        <p><button id="BtnBuy" type="button" class="btn btn-large btn-orange" {{action "Buy"}}>Buy $ {{price}}</button></p>
    </section>

    <div class="clear"></div>
    <h2>Description</h2>
    <p>{{description}}</p>
</div>