<div class="container order_summary">
    <h2>Order Summary</h2>

    <div class="order">

        <div class="list">
            {{#each products}}
            <dl class="item">
                <dt>{{name}}</dt>
                <dd>$ {{price}}</dd>
                <dd class="qty">{{qty}}</dd>
                <dd>$ {{subTotal}}</dd>
            </dl>

            <div class="line1"></div>
            {{/each}}
        </div>

        <div class="total">

            <div class="money">
                <dl>
                    <dt>Subtotal:</dt>
                    <dd>$ 1099.99</dd>
                </dl>
                <dl>
                    <dt>Shipping & Handling:</dt>
                    <dd>$ 0.00</dd>
                </dl>
                <dl>
                    <dt>Tax:</dt>
                    <dd>$ 0.00</dd>
                </dl>
                <dl class="total">
                    <dt>Order Total:</dt>
                    <dd>$ 1099.99</dd>
                </dl>
            </div>
            <div class="clear"></div>
        </div>

        <div class="info">
            <dl>
                <dt>Payment Method:</dt>
                <dd>VISA ****9031</dd>
            </dl>
            <dl>
                <dt>Shipping Method:</dt>
                <dd>None</dd>
            </dl>
            <dl class="billing_address">
                <dt>Billing Address:</dt>
                <dd>
                    Billy Bob<br>
                    17281 Magnolia Blvd.<br>
                    Long Beach, CA 92134<br>
                    United States of America
                </dd>
            </dl>
        </div>

        <div class="actions">
            <button type="button" class="btn btn-orange" {{action "Purchase"}}>Purchase Now</button>
        </div>
    </div>
</div>