billing.host = 10.0.1.166
billing.port = 8082

identity.host = 10.0.1.166
identity.port = 8081

oauth.host = 10.0.1.166
oauth.port = 8081

catalog.host = 10.0.1.166
catalog.port = 8083

cart.host = 10.0.1.166
cart.port = 8082

order.host = 10.0.1.166
order.port = 8082

client_id = client
client_secret = secret

payment.host = 10.0.1.166
payment.port = 8082

entitlement.host = 10.0.1.166
entitlement.port = 8082

