billing.host = localhost
billing.port = 8082

identity.host = localhost
identity.port = 8080

oauth.host = localhost
oauth.port = 8081

catalog.host = localhost
catalog.port = 8083

cart.host = localhost
cart.port = 8082

order.host = localhost
order.port = 8082

client_id = client
client_secret = secret

payment.host = localhost
payment.port = 8082

entitlement.host = localhost
entitlement.port = 8082

db.postgresql.connectionstring = jdbc:postgresql://localhost:5432/postgres
db.postgresql.username = postgresql
db.postgresql.password = #Bugsfor$



