<section class="box1">
    <h2>Add Payment Method</h2>

    <dl>
        <dt>Payment Type</dt>
        <dd>
            <select>
                <option>None</option>
                <option>VISA 1234</option>
            </select>
        </dd>
    </dl>
</section>