<section class="box1">
    <h2>Please Select Payment Method!</h2>

    <dl class="agreement">
        <dt>Default Payment</dt>
        <dd><label><input type="radio"><span>VISA ****9031</span></label></dd>
        <dd><label><input type="radio"><span>Store Wallet($50.55)</span></label></dd>
    </dl>

    <div class="actions">
        <button type="submit" class="btn btn-primary">Continue</button>
        <button type="button" class="btn btn-cancel">Cancel</button>
    </div>
</section>