<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>
                %d{MM/dd/yyyy HH:mm:ss.SSS}: [%thread] [SEQID:%X{SEQID}] %-5level %logger - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="MAIN" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/main.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/main.%d{yyyy-MM-dd-HH}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>
                %d{MM/dd/yyyy HH:mm:ss.SSS}: [%thread] [SEQID:%X{SEQID}] %-5level %logger - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name ="MAIN_ASYNC" class= "ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <queueSize>512</queueSize>
        <appender-ref ref="MAIN"/>
    </appender>

    <appender name="ALERT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/alert.log</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/alert.%d{yyyy-MM-dd-HH}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>
                %d{MM/dd/yyyy HH:mm:ss.SSS}: [%thread] [SEQID:%X{SEQID}] %-5level %logger{72} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name ="ALERT_ASYNC" class= "ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <queueSize>512</queueSize>
        <appender-ref ref="ALERT"/>
    </appender>

    <root level="INFO">
        <appender-ref ref="MAIN_ASYNC" />
        <appender-ref ref="ALERT_ASYNC" />
        <appender-ref ref="STDOUT" />
    </root>

</configuration>